@import "~react-draft-wysiwyg/dist/react-draft-wysiwyg.css";

@import "./styles/variables";

@import "./styles/header";
@import "./styles/menu";
@import "./styles/view";
@import "./styles/preview";
@import "./styles/page";

@import "./styles/sections";
@import "./styles/section_gallery";

@import "./styles/list";
@import "./styles/popover";
@import "./styles/sections";
@import "./styles/blocks";
@import "./styles/inputs";
@import "./styles/image_picker";
@import "./styles/url_picker";

#editor-app, #editor-app .container-fluid {
  height: 100%;

  .actionbar {
    display: flex;
    flex-direction: column;
  }

  .actionbar .scrollable {
    margin-top: 0;
  }
}

.editor-startup {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editor-route-wrapper {
  position: relative;
  flex-grow: 1;
}

.editor-route-wrapper > div {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 998;
}

.editor-route-wrapper > .editor-view.slide-up-enter,
.editor-route-wrapper > .editor-view.slide-right-enter,
.editor-route-wrapper > .editor-view.slide-left-enter {
  opacity: 0;
}

.editor-route-wrapper > .editor-view.slide-up-enter {
  transform: translate(0, $slide-effect-offset);
}

.editor-route-wrapper > .editor-view.slide-right-enter {
  transform: translate($slide-effect-offset * -1, 0);
}

.editor-route-wrapper > .editor-view.slide-left-enter {
  transform: translate($slide-effect-offset, 0);
}

.editor-route-wrapper > .editor-view.slide-up-enter.slide-up-enter-active,
.editor-route-wrapper > .editor-view.slide-right-enter.slide-right-enter-active,
.editor-route-wrapper > .editor-view.slide-left-enter.slide-left-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: opacity $slide-effect-enter-delay ease-in, transform $slide-effect-enter-delay ease-in-out;
}


.editor-route-wrapper > .slide-up-exit,
.editor-route-wrapper > .slide-right-exit,
.editor-route-wrapper > .slide-left-exit {
  opacity: 1;
}

.editor-route-wrapper > .slide-up-exit.slide-up-exit-active,
.editor-route-wrapper > .slide-right-exit.slide-right-exit-active,
.editor-route-wrapper > .slide-left-exit.slide-left-exit-active {
  opacity: 0;
  transition: opacity $slide-effect-exit-delay ease-in;
}
