ul.assets {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

ul.assets li.asset {
  position: relative;
  float: left;
  width: 139px;
  height: 140px;
  background: transparent url(/images/admin/list/thumb.png) no-repeat 0 0;
  margin: 0 17px 17px 0;
}

ul.assets li.asset.last {
  margin-right: 0px;
}

ul.assets li.asset h4 { margin: 0px; height: 30px; border-bottom: 1px solid #ccced7; position: relative; }

ul.assets li.asset h4 a {
  position: absolute;
  top: 7px;
  left: 12px;
  font-weight: bold;
  font-size: 0.6em;
  color: #1f82bc;
  text-decoration: none;
}

ul.assets li.asset h4 a:hover { text-decoration: underline; }

ul.assets li.asset div.image {
  width: 80px;
  height: 80px;
  border: 4px solid #fff;
  margin: 10px 0 0 24px;
  background: transparent url(/images/admin/list/empty.png) repeat 0 0;
}

ul.assets li.asset div.image div.inside {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 80px;
  height: 80px;
}

ul.assets li.asset div.actions {
  position: absolute;
  top: 4px;
  right: 12px;
}