ul.assets {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

ul.assets li.asset {
  position: relative;
  float: left;
  width: 139px;
  height: 140px;
  background: transparent url(/images/admin/list/thumb.png) no-repeat 0 0;
  margin: 0 17px 17px 0;
}

ul.assets li.asset.last {
  margin-right: 0px;
}

ul.assets li.asset h4 { margin: 0px; height: 30px; border-bottom: 1px solid #ccced7; position: relative; }

ul.assets li.asset h4 a {
  position: absolute;
  top: 7px;
  left: 12px;
  font-weight: bold;
  font-size: 0.6em;
  color: #1f82bc;
  text-decoration: none;
}

ul.assets li.asset h4 a:hover { text-decoration: underline; }

ul.assets li.asset div.icon, ul.assets li.asset div.image {
  width: 80px;
  height: 80px;
  border: 4px solid #fff;
  margin: 10px 0 0 24px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

ul.assets li.asset div.image {
  background: transparent url(/images/admin/list/empty.png) repeat 0 0;
}

ul.assets li.asset div.image .inside {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 72px;
  height: 72px;
}

ul.assets li.asset div.icon .inside {
  position: relative;
  top: 24px;
  text-align:center;
  width: 80px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 1px 0px #333;
  text-transform: uppercase;
  font-size: 1.1em;
}

ul.assets li.asset div.pdf {
  background: #e82f2d;
  background: -webkit-gradient(linear, left top, right bottom, from(#fc4e42), to(#b9101d));
  background: -moz-linear-gradient(-45deg, #fc4e42, #b9101d);
}

ul.assets li.asset div.media {
  background: #6e489c;
  background: -webkit-gradient(linear, left top, right bottom, from(#ba89d1), to(#4f317d));
  background: -moz-linear-gradient(-45deg, #ba89d1, #4f317d);
}

ul.assets li.asset div.other {
  background: #4a4a50;
  background: -webkit-gradient(linear, left top, right bottom, from(#92939a), to(#28282b));
  background: -moz-linear-gradient(-45deg, #92939a, #28282b);
}


ul.assets li.asset div.actions {
  position: absolute;
  top: 4px;
  right: 12px;
}