body { background: #000 url(/images/admin/background/body.png) repeat 0 0; }

#wrapper {
  background: transparent url(/images/admin/box/wrapper_bg.png) repeat-x 0 0;
  min-height: 400px;
}

#light {
  background: transparent url(/images/admin/box/light_bg.png) no-repeat center 0;
  min-height: 400px;
  padding-top: 100px;
}

#panel {
  background: transparent url(/images/admin/box/top_panel_bg.png) no-repeat center 0;
  width: 356px;
  height: 344px;
  padding: 9px 0px 0 0px;
}

#panel h1 {
  height: 41px;
  margin: 0px;
  padding: 20px 0px 0 0;
  font-size: 1.8em;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}

#panel .inner {
  background: transparent url(/images/admin/box/content_panel_bg.png) repeat-y center 0;
  padding: 5px 0px 20px 0px;
}

#panel fieldset {
  border: 0px;
  padding: 0px;
  margin: 0px;
}

#panel fieldset ol {
  width: 260px;
  list-style: none;
  padding: 0px;
  margin: 0px auto 0 auto;
}

#panel fieldset ol li {
  margin-top: 20px;
}

#panel fieldset ol li label {
  display: block;
  font-size: 1.2em;
  color: #222;
}

#panel fieldset ol li input {
  background: white url(/images/admin/box/input_bg.png) no-repeat 0 0;
  width: 246px;
  padding: 7px;
  border: 0px;
  font-size: 1.2em;
  color: #222;
}

#panel fieldset ol li input[type=file] {
  background: none;
  padding: 0px;
}

#panel fieldset ol li div.inline-errors p {
  padding: 3px 5px;
  margin: 5px 0px;
  background: #FFE5E5;
  color: #CE2525;
}

#panel p.notice {
  font-size: 1.2em;
  color: #222;
  margin: 15px 49px 0 49px;
  text-align: center;
}

#panel p.link {
  margin: 15px 0 0 49px;
}

#panel p.link a {
  color: #1f82bc;
  text-decoration: none;
}

#panel p.link a:hover {
  text-decoration: underline;
}

#panel p.tright {
  text-align: right;
  margin-right: 20px;
}

#panel div.footer {
  background: transparent url(/images/admin/box/bottom_panel_bg.png) no-repeat center 0;
  text-align: right;
  margin: 0px 0px 0 0px;
  padding: 22px 0;
}

#panel div.footer .button {
  display: inline-block;
  background: transparent url(/images/admin/box/buttons/left_bg.png) no-repeat 0 0;
  margin: 0 38px 0 0;
  padding: 0px 0px 0px 2px;
  font-size: 1.1em;
  color: white;
  cursor: pointer;
  border: none;
  height: 31px;
}

#panel div.footer .button span {
  display: inline-block;
  background: transparent url(/images/admin/box/buttons/right_bg.png) no-repeat right top;
  position: relative;
  top: -1px;
  padding: 3px 9px 9px 4px;
  line-height: 21px;
}

/* ___ Messages ___ */

div.application-message {
  font-size: 1.2em;
  font-weight: bold;
  padding: 8px;
  margin: 10px 20px 0 20px;
  text-align: justify;
}

div#flash-alert {
  background: #FFE5E5;
  color: #CE2525;
}

div#flash-notice {
  background: #c7ff99;
  color: #58852b;
}


