#editable-elements .wrapper {
  background: #ebedf4 url(/images/admin/form/footer.png) no-repeat 0 bottom;
  padding: 10px 0px 16px 0px;
  border-top: 1px solid #ccced7;
}

#editable-elements {
  background: transparent url(/images/admin/form/header.png) no-repeat 0 0;
  margin-bottom: 20px;
}

#editable-elements .control {
  height: 30px;
}

#editable-elements .nav {
  position: relative;
  top: 1px;
  z-index: 990;
}

#editable-elements .nav a {
  float: left;
  display: block;
  height: 30px;
  padding: 0px 0px 0 11px;
  color: #8b8d9a;
  text-decoration: none;
  font-size: 0.8em;
  cursor: pointer;
  outline: none;
}

#editable-elements .nav a span {
  display: inline-block;
  height: 26px;
  padding: 4px 11px 0 0px;
}

#editable-elements .nav a:first-child { padding-left: 22px; }
#editable-elements .nav a:first-child span { padding-right: 13px; }

#editable-elements .nav a.on {
  color: #1e1f26;
  font-weight: bold;
  background: transparent url(/images/admin/form/header-left-on.png) no-repeat 0 0;
}

#editable-elements .nav a.on span {
  background: transparent url(/images/admin/form/header-right-on.png) no-repeat right 0;
}

#editable-elements .nav a:first-child.on {
  background: transparent url(/images/admin/form/header-first-on.png) no-repeat 0 0;
}

#editable-elements .wrapper ul li fieldset { margin-bottom: 0px; }

#editable-elements .wrapper ul li fieldset ol { margin-top: 0px; border-top: 0px; background: #EBEDF4; }