#page-toolbar * { margin: 0; padding: 0; }

#page-toolbar {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 28px;
  background: transparent url('/images/admin/inline_editor/bg.png') repeat-x 0 0;
  padding: 0 10px;
  font-family: Helvetica;
  -webkit-box-shadow: -3px 3px 12px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -3px 3px 12px rgba(0, 0, 0, 0.4);
  z-index: 999;
}

#page-toolbar ul {
  margin-top: 3px;
  list-style: none;
  padding: 0px;
  -moz-padding-start: 0px;
}

#page-toolbar ul li.link {
  float: left;
  margin: 0 0 0 5px;
  background: transparent;
  padding: 0px;
}

#page-toolbar ul li.link a {
  display: block;
  background: transparent url('/images/admin/inline_editor/action-left.png') no-repeat 0 0;
  height: 18px;
  line-height: 20px;
  padding-left: 24px;
  text-decoration: none;
  color: #fff;
  outline: none;
  border: 0px;
  font-size: 12px;
}

#page-toolbar ul li.link a:active { border: 0px; text-decoration: none; color: #fff; top: 0px; }
#page-toolbar ul li.link a:hover span { text-decoration: underline; }

#page-toolbar ul li.save a { background-position: 0 -21px; }
#page-toolbar ul li.cancel a { background-position: 0 -42px; }
#page-toolbar ul li.copy a { background-position: 0 -63px; }
#page-toolbar ul li.edit a { background-position: 0 -84px; }
#page-toolbar ul li.back a { background-position: 0 -105px; }
#page-toolbar ul li.spinner a { background-position: 0 -126px; }

#page-toolbar ul li.link a span {
  display: block;
  background: transparent url('/images/admin/inline_editor/action-right.png') no-repeat right 0;
  height: 19px;
  padding: 1px 10px 0 2px;
  text-shadow: 1px 1px 1px #000;
}

#page-toolbar ul li.drawer {
  float: left;
  margin: 0 10px 0 5px;
}

#page-toolbar ul li.drawer a {
  display: block;
  position: relative;
  top: 6px;
  width: 10px;
  height: 10px;
  background: transparent url('/images/admin/inline_editor/drawer.png') no-repeat 0 0;
  text-decoration: none;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

#page-toolbar ul li.drawer a.off {
  background-position: 0 -10px;
}

#page-toolbar ul li.drawer a:active { border: 0px; text-decoration: none; top: 6px; padding: 0px; }

#page-toolbar ul li.spinner a {
  padding-left: 24px;
  position: relative;
}

#page-toolbar ul li.spinner a img {
  position: absolute;
  top: 3px;
  left: 7px;
}

#page-toolbar ul li.sep { float: left; margin: 0 15px 0 10px; width: auto !important; background: none !important; }

#page-toolbar ul li.sep span {
  display: block;
  height: 21px;
  width: 1px;
  background: #3a3b40;
  border-left: 1px solid #56575e;
}

#page-toolbar ul li.clear { clear: both; }

/* ___ aloha ___ */

.x-tab-panel a.x-tab-right { border-bottom: 0px; padding-bottom: 0px; }
.x-tab-panel input[type=text] { border: 1px solid gray; border-spacing: 2px; -webkit-border-radius: 0px; -webkit-box-shadow: none; background: #fff; color: #000; padding: 2px; }