body {
  background: #000 url(/images/admin/background/body.png) repeat 0 0;
/*  font-family: Arial,Helvetica,sans-serif;*/
  font-size: 1em;
}

.container {
  width: 966px;
}

#wrapper {
  background: transparent url(/images/admin/background/light.png) repeat-x 0 0;
}

#header {
  position: relative;
  padding-top: 20px;
}

#header h1 {
  margin-bottom: 0px;
  font-size: 100%;
}

#header h1 a.single {
  font-size: 1.5em;
  color: #f0f0f0;
  text-shadow: 1px 1px 1px #000;
  text-decoration: none;
  margin-left: 8px;
}

#search-bar {
  position: absolute;
  top: 15px;
  right: 0px;
}

#global-actions-bar {
  position: absolute;
  top: 70px;
  right: 8px;
  color: #8b8d9a;
  font-size: 0.7em;
  text-shadow: 1px 1px 1px #000;
}

#global-actions-bar a {
  color: #1F82BC;
  text-decoration: none;
}

#global-actions-bar a:hover { text-decoration: underline; }

#global-actions-bar span {
  font-size: 0.9em;
  color: #999;
  margin: 0 1px;
/*  text-shadow: 1px 1px 1px #000;*/
}

#content {
  background: transparent url(/images/admin/menu/shadow.png) repeat-y 0 0;
  margin-top: -1px;
}

#content div.inner {
  margin: 0px 8px;
  padding: 10px 15px 20px 15px;
  background: white;
  min-height: 150px;
  position: relative;
}

#content div.inner h2 {
  padding-bottom: 10px;
  font-size: 1.3em;
  font-weight: bold;
  color: #1e1f26;
  border-bottom: 1px dotted #bbbbbd;
}

#content div.inner h2 a {
  color: #1F82BC;
  text-decoration: none;
}

#content div.inner h2 a:hover {
  text-decoration: underline;
}

#content div.inner h2 a.editable {
  padding: 2px 25px 2px 6px;
  color: #1e1f26;
  outline: none;
}

#content div.inner h2 a.editable:hover {
  background: #fffbe5 url(/images/admin/form/pen.png) no-repeat right 5px;
  border-bottom: 1px dotted #efe4a5;
  text-decoration: none;
}

#content div.inner h3 {
  background: transparent url(/images/admin/list/item.png) no-repeat 0 0;
  font-size: 0.9em;
  font-weight: bold;
  color: #1e1f26;
  padding: 7px 0 10px 20px;
  text-shadow: 1px 1px 1px #fff;
}

#content div.inner p {
  color: #8b8d9a;
  font-size: 0.8em;
}

#content div.inner p a {
  color: #1F82BC;
  text-decoration: none;
}

#content div.inner p a:hover {
  text-decoration: underline;
}

#content #local-actions-bar {
  position: absolute;
  top: 13px;
  right: 15px;
}

#content #local-actions-bar a {
  position: relative;
  padding: 2px 10px 3px 31px;
  color: #8b8d9a;
  text-decoration: none;
  font-size: 0.7em;
  margin-left: 10px;
  background-color: #ebedf4;
  outline: none;
  -moz-border-radius : 10px;
  -webkit-border-radius: 10px;
}

#content #local-actions-bar a em {
  position: absolute;
  display: block;
  top: 5px;
  left: 10px;
  height: 16px;
  width: 16px;
  background: transparent url(/images/admin/icons/actions.png) no-repeat 0 0;
}

#content #local-actions-bar a.show em { background-position: 0 0; }
#content #local-actions-bar a.edit em { background-position: 0 -16px; top: 2px; left: 12px; }
#content #local-actions-bar a.download em { background-position: 0 -32px; }
#content #local-actions-bar a.new em { background-position: 0 -48px; left: 13px; }

#content #local-actions-bar a:hover { text-decoration: none; color: #333; }

#content #local-actions-bottom-bar {
  position: relative;
  top: 27px;
  left: -15px;
  width: 950px;
  background: #8b8d9a;
}

#content #local-actions-bottom-bar p {
  padding: 15px;
  margin: 0px;
}

#content #local-actions-bottom-bar a {
  color: #fff !important;
  text-decoration: none;
  font-size: 0.8em;
  position: relative;
  top: 4px;
}

#content #local-actions-bottom-bar a.remove { color: #ff092c !important; }

#content #local-actions-bottom-bar p a:hover { text-decoration: underline; }

#content #local-actions-bottom-bar .last p { text-align: right; }

/* ___ footer ___ */

#footer {
  padding-top: 10px;
  background: transparent url(/images/admin/background/footer.png) no-repeat 0 0;
}

#footer p {
  padding: 15px 8px 0 0;
  font-size: 0.8em;
  color: #E6E6E6;
}

#footer p a {
  color: #1F82BC;
  text-decoration: none;
}

#footer p a:hover {
  text-decoration: underline;
}

/* ___ Alignements ___ */

.tcenter { text-align: center; }
.tright { text-align: right; }
.tleft { text-align: left; }
.tjustify { text-align: justify; }
.fright { float: right; }

/* ___ Margins ___ */

.nomargin { margin: 0 !important; }
.mt30 { margin-top: 30px !important; }
.mt20 { margin-top: 20px !important; }
.mb20 { margin-bottom: 20px !important; }
.m20 { margin: 20px !important; }
.mt10 { margin-top: 10px !important; }
.ml10 { margin-left: 10px !important; }
.mr10 { margin-right: 10px !important; }
.mb10 { margin-bottom: 10px !important; }
.m10 { margin: 10px !important; }

/* ___ NoCoffee / Rails Tags ___ */

a#nocoffee { color: #b0b4c0 !important; text-decoration: none; line-height: 20px; padding-right: 20px; margin: 0 4px; background: transparent url(../../images/admin/nocoffee.png) no-repeat right 0px; }
