@mixin full-space
{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

@mixin display-flex
{
    display: flexbox;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin flex-justify-content($alignment)
{
    -webkit-justify-content: $alignment;
       -moz-justify-content: $alignment;
            justify-content: $alignment;
}

@mixin flex-align($alignment)
{
  -webkit-flex-align: $alignment;
  -ms-flex-align: $alignment;
  -webkit-align-items: $alignment;
  align-items: $alignment;
}

@mixin flex-direction($direction)
{
  -webkit-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin flex-wrap
{
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

@mixin flex-justify-content($content)
{
  justify-content: $content;
  -webkit-justify-content: $content;
}

@mixin locomotive_gradient
{
  background-repeat: no-repeat;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;
  @include background-image(linear-gradient(top, $background_gradient_start 60px, $background_gradient_start 20%, $background_gradient_end));
}

@mixin draggable
{
  cursor: move;
  @include user-select(none);
}

