@mixin full-space {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin locomotive_gradient {
  background: linear-gradient(to bottom, $background_gradient_start 60px, $background_gradient_start 20%, $background_gradient_end);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100%;
}

@mixin draggable {
  @include user-select(none);
  cursor: move;
}

@mixin control-window-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 991;
  width: $control_window_button_size;
  height: $control_window_button_size;
  font-size: 15px;
  line-height: $control_window_button_size;
  color: $control_window_button_color;
  text-align: center;
  cursor: pointer;
  background: $control_window_background_color;
}
