// custom variables go here

$alt-font-family-sans-serif:          "Muli", sans-serif;

$background_gradient_start:           #54b9cd;
$background_gradient_end:             #5488cc;

$overlay_background:                  #333;

$main_title_color:                    #666;
$main_background_color:               #fff;

$background_content_list:             #f1f4f5;

$sidebar_width:                       21em;
$sidebar_background_color:            #383838;
$sidebar_text_color:                  #fff;
$sidebar_section_border_color:        #474747;
$sidebar_section_title_color:         #949999;
$sidebar_link_color:                  #ccc;
$sidebar_hovered_link_color:          #fff;
$sidebar_font_size:                   $font-size-base;

$drawer_width:                        21em;
$drawer_background_color:             white;
$drawer_close_button_size:            30px;
$drawer_close_button_color:           #333;

$form_input_background_color:         #f7f7f7;
$form_input_padding:                  15px;
$form_input_radius:                   4px;
$form_input_label_color:              #555;
$form_input_label_size:               11px;
$form_input_control_border_size:      4px;
$form_input_control_border_color:     #d7d7d7;
$form_input_help_color:               #828787;
$form_input_help_size:                12px;
$form_input_wrapper_background_color: #fff;

$form_input_array_item_height:              30px;
$form_input_array_draggable_color:          #ccc;
$form_input_array_placeholder:              #bdbdbd;
$form_input_array_placeholder_background:   #d7d7d7;
$form_input_array_placeholder_height:       30px;
$form_input_array_placeholder_margin:       6px;
$form_input_array_border_size:              2px;
$form_input_array_border_color:             $form_input_control_border_color;
$form_input_array_media_border_color:       $form_input_control_border_color;

$form_input_toggle_width:                   50px;

$form_input_rte_command_font_size:          12px;
$form_input_rte_command_color:              #999;
$form_input_rte_command_active_color:       #333;

$content_list_item_background_color:        #fff;
$content_list_item_border_color:            #dadada;
$content_list_item_border_size:             1px;
$content_list_item_link_color:              #595959;
$content_list_item_stamp_color:             #949999;
$content_list_item_stamp_size:              12px;

$content_list_item_min_height:              70px;
$content_list_item_placeholder:             #bdbdbd;
$content_list_item_placeholder_background:  #d7d7d7;
