// custom variables go here

$alt-font-family-sans-serif:        "Muli", sans-serif;

$sidebar_width:                     21em;

$background_gradient_start:         #54b9cd;
$background_gradient_end:           #5488cc;

$form_input_background_color:       #f7f7f7;
$form_input_padding:                15px;
$form_input_radius:                 4px;
$form_input_label_color:            #555;
$form_input_label_size:             11px;
$form_input_control_border_size:    4px;
$form_input_control_border_color:   #d7d7d7;
$form_input_help_color:             #828787;
$form_input_help_size:              12px;

$form_input_array_item_height:              30px;
$form_input_array_draggable_color:          #ccc;
$form_input_array_placeholder:              #bdbdbd;
$form_input_array_placeholder_background:   #d7d7d7;
$form_input_array_placeholder_height:       30px;
$form_input_array_placeholder_margin:       6px;
$form_input_array_border_size:              2px;
$form_input_array_border_color:             $form_input_control_border_color;
$form_input_array_media_border_color:       $form_input_control_border_color;
