#content-locale-picker
  %ul
    - @locales.each do |locale|
      %li{ :'data-locale' => locale }
        = image_tag "locomotive/icons/flags/#{locale}.png", :class => 'flag'

        %span.text= locale