- if policy(@site).point?
  = f.inputs :access_points do
    = f.input :handle
    = f.input :domains, as: :array, placeholder: true, collection: f.object.domains, template: :domain, template_url: new_domain_current_site_path(current_site)

  = render 'locomotive/current_site/form/actions', f: f
