- if policy(@site).destroy?
  = f.actions do
    .row
      .col-sm-6.text-left
        = link_to t('.destroy'), current_site_path(current_site), data: { safe_confirm: { question: t('.confirm_destroy'), answer: @site.name } }, class:'btn btn-sm btn-danger', method: :delete
      .col-sm-6.text-right
        = f.action

- else
  = f.actions
