.tab-content
  - %w(main access_points seo url_redirections advanced).each_with_index do |name, index|
    = form_tab_pane name.to_sym, index == 0 do
      = render "locomotive/current_site/form/#{name}", f: f
