- title t('.title')

- content_for :submenu do
  = render 'admin/shared/menu/assets'
  
- content_for :actions do
  = render 'admin/shared/actions/assets'

%p!= t('.help')

%p.no-items!= t('.no_items', :url => new_admin_asset_collection_url)
