.bundle
db/*.sqlite3
log/*.log
tmp/**/*
.DS_Store
rerun.txt
uploads
spec/tmp
spec/fixtures/themes/default
public/assets
public/sites
public/uploads
public/stylesheets/all.css
public/stylesheets/plugins
public/javascripts/all.js
public/javascripts/plugins
public/images/plugins
public/fonts
public/sites_previous
pkg
rails_3_gems
doc/performance.txt
doc/production.sh
doc/DONE
doc/dev.txt
*.gem
tmp/*
.rvmrc
Capfile
config/deploy.rb
perf/*.rb
gem_graph.png
sites/
permanent
doc/bushido
*.swp


