.bundle
db/*.sqlite3
log/*.log
tmp/**/*
.DS_Store
rerun.txt
uploads
spec/tmp
public/sites
public/uploads
public/stylesheets/all.css
public/javascripts/all.js
pkg
*.gemspec
rails_3_gems
doc/performance.txt
doc/production.sh
*.gem
