[submodule "public/javascripts/admin/aloha/plugins/com.example.aloha.plugins.Product"]
  path = public/javascripts/admin/aloha/plugins/com.example.aloha.plugins.Product
  url = https://github.com/alohaeditor/Aloha-Plugin-Product.git

[submodule "public/javascripts/admin/aloha/plugins/com.example.aloha.plugins.Save"]
  path = public/javascripts/admin/aloha/plugins/com.example.aloha.plugins.Save
  url = https://github.com/alohaeditor/Aloha-Plugin-Save.git

[submodule "public/javascripts/admin/aloha/plugins/com.gentics.aloha.plugins.Abbr"]
  path = public/javascripts/admin/aloha/plugins/com.gentics.aloha.plugins.Abbr
  url = https://github.com/alohaeditor/Aloha-Plugin-Abbreviation.git

[submodule "public/javascripts/admin/aloha/plugins/com.gentics.aloha.plugins.Format"]
  path = public/javascripts/admin/aloha/plugins/com.gentics.aloha.plugins.Format
  url = https://github.com/alohaeditor/Aloha-Plugin-Format.git

[submodule "public/javascripts/admin/aloha/plugins/com.gentics.aloha.plugins.HighlightEditables"]
  path = public/javascripts/admin/aloha/plugins/com.gentics.aloha.plugins.HighlightEditables
  url = https://github.com/alohaeditor/Aloha-Plugin-HighlightEditables.git

[submodule "public/javascripts/admin/aloha/plugins/com.gentics.aloha.plugins.Link"]
  path = public/javascripts/admin/aloha/plugins/com.gentics.aloha.plugins.Link
  url = https://github.com/alohaeditor/Aloha-Plugin-Link.git

[submodule "public/javascripts/admin/aloha/plugins/com.gentics.aloha.plugins.LinkChecker"]
  path = public/javascripts/admin/aloha/plugins/com.gentics.aloha.plugins.LinkChecker
  url = https://github.com/alohaeditor/Aloha-Plugin-LinkChecker.git

[submodule "public/javascripts/admin/aloha/plugins/com.gentics.aloha.plugins.List"]
  path = public/javascripts/admin/aloha/plugins/com.gentics.aloha.plugins.List
  url = https://github.com/alohaeditor/Aloha-Plugin-List.git

[submodule "public/javascripts/admin/aloha/plugins/com.gentics.aloha.plugins.Paste"]
  path = public/javascripts/admin/aloha/plugins/com.gentics.aloha.plugins.Paste
  url = https://github.com/alohaeditor/Aloha-Plugin-Paste.git

[submodule "public/javascripts/admin/aloha/plugins/com.gentics.aloha.plugins.Table"]
  path = public/javascripts/admin/aloha/plugins/com.gentics.aloha.plugins.Table
  url = https://github.com/alohaeditor/Aloha-Plugin-Table.git

[submodule "public/javascripts/admin/aloha/plugins/com.gentics.aloha.plugins.TOC"]
  path = public/javascripts/admin/aloha/plugins/com.gentics.aloha.plugins.TOC
  url = https://github.com/alohaeditor/Aloha-Plugin-TOC.git
