.edit-assets-container
  .image-container{ data: { height: @content_asset.height, width: @content_asset.width, filename: @content_asset.name } }
    = image_tag @content_asset.source.url

  .resize-form{ style: 'display: none' }
    %form.form{ role: 'form' }
      .form-group
        %label{ for: 'content-asset-width-input' } Width
        .input-group
          %input#content-asset-width-input.form-control{ type: 'integer', name: 'width', value: @content_asset.width, autocomplete: 'off' }
          .input-group-addon px
      .form-group
        %label#content-asset-width-height{ for: 'content-asset-width-height' } Height
        .input-group
          %input.form-control{ type: 'integer', name: 'height', value: @content_asset.height, autocomplete: 'off' }
          .input-group-addon px

      .text-right
        %button.btn.btn-sm.btn-success.apply-resizing-btn{ autocomplete: 'off', data: { 'loading-text' => 'Resizing...' } }
          Resize

  .actions
    .btn-group-vertical{ role: 'group' }
      %button.btn.btn-sm.btn-primary.resize-btn{ title: 'Resize' }
        %i.fa.fa-compress
      %button.btn.btn-sm.btn-primary.crop-btn{ title: 'Crop' }
        %i.fa.fa-crop
      %button.btn.btn-sm.btn-success.apply-btn{ title: 'Apply', data: { url: content_assets_path(format: :json) } }
        %i.fa.fa-check
