/ .row.content-assets-header
/   .col-md-12
/     - title t('.title')

.content-assets-in-drawer

  .dropzone-container{ data: { url: bulk_create_content_assets_path(:json) } }
    .container-fluid
      .row
        .col-md-12
          = render 'dropzone'

  .updatable
    .nav-container
      .container-fluid
        .row
          .col-md-12
            = render 'nav'

    .list-container.scrollable
      .container-fluid
        .row
          .col-md-12
            = render 'list'