- title t('.title')

.alert.alert-danger
  Under development

/ - content_for :submenu do
/   = render 'locomotive/shared/menu/contents'

/ - content_for :actions do
/   = render 'locomotive/shared/actions/contents'

/ - if policy(Locomotive::Page).create?
/   - content_for :buttons do
/     = local_action_button :new, new_page_path, icon: 'icon-plus', id: 'newpage'

/ %p!= t('.help')

/ - if @pages.empty?
/   %p.no-items!= t('.no_items', url: new_page_path)
/ - else
/   %ul#pages-list
/     = render partial: 'page', collection: @pages
