* { margin: 0; padding: 0; outline: 0; }

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
  display: block;
}

@font-face { font-family: Keffeesatz; src: url(/fonts/YanoneKaffeesatz-Light.otf) format("opentype") }
@font-face { font-family: KeffeesatzBold; src: url(/fonts/YanoneKaffeesatz-Bold.otf) format("opentype") }

body { font-family: Keffeesatz, Arial; color: #4b4b4b; background: url(/images/pattern.gif); text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }

::selection { background-color: rgba(122, 192, 0, 0.2); }
::-moz-selection { background-color: rgba(122, 192, 0, 0.2); border: 10px solid red; }

h1 { color: #fff; font-size: 40px; position: relative; top: 15px; }
h1 a { color: #fff; font-size: 40px; background-color: #ff5400; padding: 5px 25px 10px 25px; width: 300px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6); border-bottom: 1px solid rgba(0, 0, 0, 0.4); border-top: 1px solid rgba(255, 255, 255, 0.6);
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.23, #c34000),
      color-stop(0.62, #ff5400)
  );
  background: -moz-linear-gradient(
      center bottom,
      #c34000 23%,
      #ff5400 62%
  );
}

h1 a:hover { color: #fff; border-bottom: 1px solid rgba(0, 0, 0, 0.4); padding-bottom: 10px; background-color: #7ac000;
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.23, #619702),
      color-stop(0.62, #7ac000)
  );
  background: -moz-linear-gradient(
      center bottom,
      #619702 23%,
      #7ac000 62%
  );
}

h2 { padding-left: 125px; font-size: 66px; color: #ff5400; height: 105px; }
h2 span.sub { font-size: 48px; float: left; color: #4b4b4b; }

h2.intro { background: url(/images/intro.png) no-repeat -10px -10px; }
h2.work { background: url(/images/portfolio.png) no-repeat -10px -10px; }
h2.about { background: url(/images/about.png) no-repeat -10px -10px; }
h2.contact { background: url(/images/contact.png) no-repeat -10px -10px; }

a { color: #7ac000; text-decoration: none; border-bottom: 1px solid #7ac000; padding-bottom: 2px; }
a:hover { color: #ff5400; text-decoration: none; border-bottom: 1px solid #ff5400; padding-bottom: 2px; }
a:active { color: #ff5400; text-decoration: none; border-bottom: 1px solid #ff5400; padding-bottom: 2px; position: relative; top: 1px; }

p { font-size: 24px; margin-bottom: 15px; line-height: 36px; }
strong { font-family: KeffeesatzBold, Arial; }

header { padding: 5px 0; width: 100%; background-color: #000; margin-bottom: 25px; -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); position: fixed; z-index: 10; float: left; }
#headercontainer, #contentcontainer { width: 960px; margin: 0 auto; position: relative; }
#contentcontainer { float: none; padding-top: 0px; }

nav { width: auto; float: left; }
nav ul { position: absolute; right: 0; display: block; margin-top: -37px; }
nav ul li { display: inline; margin-left: 50px; }
nav ul li a { font-size: 24px; border-bottom: none; }

section { margin-bottom: 20px; padding-top: 150px; float: left; }

#intro h2 a { padding-bottom: 0px; }
#intro a.featured { padding-bottom: 0px; border-bottom: none; }
#intro a img { border: 5px solid rgba(122, 192, 0, 0.15); -webkit-border-radius: 5px; margin-top: 40px; margin-bottom: 5px; }
#intro a img:hover, #portfolio .work a img:hover, input:hover, textarea:hover { border: 5px solid rgba(122, 192, 0, 1); -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); }
#intro a img:active, #portfolio .work a img:active { -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }

#portfolio ul.work a { border-bottom: none; }
#portfolio ul.work a img { border: 5px solid rgba(122, 192, 0, 0.15); -webkit-border-radius: 5px; }
#portfolio ul.work { float: left; margin-left: -15px; width: 975px;  }
#portfolio ul.work li { list-style: none; float: left; margin-left: 15px; margin-bottom: 15px; }

#portfolio .pagination { text-align: center; font-size: 20px; }
#portfolio .pagination a { margin: 0 5px; }
#portfolio .pagination a.prev_page,
#portfolio .pagination a.next_page { margin: 0px; padding: 0px; background: none ;}

#contact { margin-bottom: 0px; }
#contact .success { text-align: center; width: 940px; }

#work .text { margin-top: 30px; }

input[type="text"] { width: 400px; }
textarea { width: 750px; height: 275px; }
label { color: #ff5400; }
input, textarea { background-color: rgba(255, 255, 255, 0.4); border: 5px solid rgba(122, 192, 0, 0.15); padding: 10px; font-family: Keffeesatz, Arial; color: #4b4b4b; font-size: 24px; -webkit-border-radius: 5px; margin-bottom: 15px; margin-top: -10px; }
input:focus, textarea:focus { border: 5px solid #ff5400; background-color: rgba(255, 255, 255, 1); }

input[type="submit"] { border: none; cursor: pointer; color: #fff; font-size: 24px; background-color: #7ac000; padding: 5px 36px 8px 36px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6); border-bottom: 1px solid rgba(0, 0, 0, 0.4); border-top: 1px solid rgba(255, 255, 255, 0.6);
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.23, #619702),
      color-stop(0.62, #7ac000)
  );
  background: -moz-linear-gradient(
      center bottom,
      #619702 23%,
      #7ac000 62%
  );
}

input[type="submit"]:hover { color: #fff; border-bottom: 1px solid rgba(0, 0, 0, 0.4); background-color: #ff5400;
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.23, #c34000),
      color-stop(0.62, #ff5400)
  );
  background: -moz-linear-gradient(
      center bottom,
      #c34000 23%,
      #ff5400 62%
  );
}

input[type="submit"]:active { position: relative; top: 1px; }

footer { clear: both; float: left; margin-top: 50px; }
footer ul { margin-bottom: 150px; }
footer ul li { display: inline; margin-right: 50px; }
footer ul li a { font-size: 24px; margin-left: 10px; }
footer ul li img { vertical-align: bottom; position: relative; top: 2px; }