$developers_documentation_title_color: #666;
$developers_documentation_title_border: #eee;
$developers_documentation_code_border: #eee;
$developers_documentation_code_radius: 3px;

body.developers-documentation {

  .documentation {

    padding: 30px 0px;

    h3 {
      color: $developers_documentation_title_color;
      font-size: 12px;
      text-transform: uppercase;
      border-bottom: 1px solid $developers_documentation_title_border;
      padding-bottom: 10px;
      margin: 40px 0px 20px 0px;
    }

    p {
      margin: 20px 0px;
    }

    pre {
      background: #fff;
      border: 3px solid $developers_documentation_code_border;
      border-radius: $developers_documentation_code_radius;
      padding: 0px;
    }

  }

}
