.drawer {
  background: $drawer_background_color;

  .inner > .row:first-child {
    padding: 20px 0px 10px 0px;
  }

  .header-row {
    padding: 15px 0px;
  }

  h1 {
    font-size: 22px;
    font-family: $font-family-sans-serif;
    // color: $main_title_color;
    color: $drawer_title_color;
    margin: 0px;
  }

  > .close-button {
    @include control-window-button;
  }

}
