$error_legend_color: #a2e4f1;

h1 {
  text-transform: capitalize;
  font-size: $font-size-base + 2;
  font-family: $alt-font-family-sans-serif;

  img {
    position: relative;
    top: -2px;
    width: 16px;
  }

  small {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: lowercase;
    color: $error_legend_color;
    font-size: $font-size-base;
    font-weight: 200;
    margin-top: 10px;
  }
}

h2 {
  padding: 30px 0px;
  width: 600px;
  line-height: 40px;
  text-justify: center;
}

p.next {
  a {
    color: #fff;
  }
}
