body.content-entries.index {

  & > .wrapper > .content {
    background: $background_content_list;
  }

}

.content {
  .big-list {

    .item {
      background: $content_list_item_background_color;
      border-top: $content_list_item_border_size solid $content_list_item_border_color;

      min-height: $content_list_item_min_height;

      @include display-flex;
      @include flex-align(center);
      position: relative;

      &:not(.hide):last-child {
        border-bottom: $content_list_item_border_size solid $content_list_item_border_color;
      }

      .draggable {
        margin-right: $padding-base-horizontal;
        i {
          font-size: 20px;
          @include draggable;
        }
      }

      &.ui-sortable-helper {
        background: #fff;
        border-top: $content_list_item_border_size solid $content_list_item_border_color;
        border-bottom: $content_list_item_border_size solid $content_list_item_border_color;
      }

      .text {
        > :before {
          position: absolute;
          top: 0px;
          left: 0px;
          height: 100%;
          width: $content_list_item_border_hover_size;
          background-color: transparent;
          content: " ";
          @include transition(all 0.2s ease-in-out);
        }

        a {
          color: $content_list_item_link_color;
        }

        .stamp {
          margin-top: 5px;
          color: $content_list_item_stamp_color;
          font-size: $content_list_item_stamp_size;

          img {
            border: 1px solid $content_list_item_stamp_color;
            margin: 0px 6px;
          }
        }
      }

      &:hover {
        .text > :before {
          background-color: $content_list_item_border_hover_color;
        }
      }

      .actions {
        position: relative;
        margin-left: auto;

        i {
          font-size: 16px;
          color: $content_list_item_link_color;
        }
      }
    }

    &.grouped .item:first-child {
      border-top: none;
    }

    .sortable-placeholder {
      height: $content_list_item_min_height;
      @include make-sm-column(12);

      background-color: $content_list_item_placeholder_background;

      .inner {
        margin: $padding-base-horizontal 0px;
        background-color: $content_list_item_placeholder;
        height: $content_list_item_min_height - (2 * $padding-base-horizontal);
        @include border-radius(($content_list_item_min_height - (2 * $padding-base-horizontal)) / 2);
      }

    }

  }
}
