.main {

  background: $main_background_color;

  > .row {

    padding: 20px 0px;

    h1 {
      font-size: 22px;
      font-family: $font-family-sans-serif;
      color: $main_title_color;
      margin: 0px;
    }

    .actions {
      text-align: right;
    }

  }
}