// Sidebar

.sidebar {
  transition: left 0.3s ease-in-out;
}

.content {
  transition: left 0.3s ease-in-out, right 0.3s ease-in-out;
}

body.sidebar-closed {
  .sidebar {
    left: -$sidebar_width;
  }

  .content {
    left: 0px;
  }
}

body.slide-right-sidebar {
  .sidebar {
    left: 0px;
  }
}

// Live editing

body.live-editing {

  // SIDEBAR
  .slide-sidebar {
    .bar {
      transition: opacity 0.3s ease-in-out;
    }
    .sidebar {
      transform: translate3d(0, 0, 0);
      transition: transform 0.2s ease-in-out;
    }

    &:hover {
      .bar {
        opacity: 0;
      }
      .sidebar {
        transform: translate3d($sidebar_width, 0, 0);
      }
    }
  }


  // STATE: SHRINKED

  .content {
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s ease-in-out;

    > .inner {
      transition: opacity 0.0s ease-in-out;
    }

    .close-button {
      transition: opacity 0.0s ease-in-out;
    }
  }

  .preview {
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s ease-in-out, border-left-width 0.6s ease;
  }

  &.full-width-preview {

    // STATE: EXPANDED

    .content {
      transform: translate3d($live_editing_content_width - $live_editing_expand_bar_width, 0, 0);

      transition: transform 0.3s ease-in-out, background-color 0.1s ease-in-out 0.2s;
      > .inner {
        transition: opacity 0.1s ease-in-out 0.2s;
      }

      .close-button {
        transition: opacity 0.2s ease-in-out 0.2s;
      }
    }

    .preview {
      transform: translate3d($live_editing_content_width - $live_editing_expand_bar_width, 0, 0);
      border-left-width: $live_editing_expand_bar_width;
      transition: transform 0.3s ease-in-out;
    }

  }

}

// Drawer

.content > .overlay {
  transition: all 0.5s ease-in-out;
}

.content::after {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0px;
  bottom: 0px;
  width: 0px;
  height: 0px;
  background: $overlay_background;
  opacity: 0.0;
  transition: opacity 0.3s ease-in-out, width 0.1s 0.3s, height 0.1s 0.3s;
  content: '';
}

.drawer {
  transition: all 0.3s ease-in-out;
  transform: translate3d(100%, 0, 0);
}

body.drawer-opened {

  .content::after {
    width: 100%;
    height: 100%;
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
  }

  .drawer {
    transform: translate3d(0, 0, 0);

    > .inner > div {
      transition: opacity 0.05s ease-in-out;

      &.fadeout {
        opacity: 0;
      }

      &.fadein {
        opacity: 1;
      }
    }
  }

}
