// Sidebar

.sidebar {
  @include transition(left 0.1s ease-in-out);
}

.content {
  @include transition(left 0.1s ease-in-out);
}

body.sidebar-closed {
  .sidebar {
    left: -$sidebar_width;
  }

  .content {
    left: 0px;
  }
}

// Drawer

.content > .overlay {
  @include transition(all 0.5s ease-in-out);
}

.content::after {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0px;
  bottom: 0px;
  width: 0px;
  height: 0px;
  background: $overlay_background;
  @include opacity(0.0);
  content: '';
}

.drawer {
  @include transition(right 0.1s ease-in-out);
}

body.drawer-opened {

  .content::after {
    width: 100%;
    height: 100%;
    @include opacity(0.3);
  }

  .drawer {
    right: 0;

    > .close-button {
      display: block;
    }
  }

}

// @media (max-width: $screen-xs-max) {
//   .main {
//     position: relative;
//     -webkit-transition: all .25s ease-out;
//          -o-transition: all .25s ease-out;
//             transition: all .25s ease-out;
//     left: 0;
//     .sidebar {
//       left: -50%;
//       position: absolute;
//       top: 0;
//       overflow: hidden;
//       width: 50%;
//     }
//     .submenu {
//       overflow: hidden;
//       width: 100%;
//       -webkit-transition: all .25s ease-out;
//            -o-transition: all .25s ease-out;
//               transition: all .25s ease-out;
//     }
//     .content {
//       -webkit-transition: all .25s ease-out;
//            -o-transition: all .25s ease-out;
//               transition: all .25s ease-out;
//       left: 0;
//       position: absolute;
//       top: 0;
//       width: 100%;
//     }
//   }
//   .main.menu_active {
//     left: 50%;
//   }
//   .main.submenu_active {
//     .content {
//       left:100%;
//     }
//     .menu {
//       left : -50%;
//     }
//   }
// }

// @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
//   .main {
//     position: relative;
//     -webkit-transition: all .25s ease-out;
//          -o-transition: all .25s ease-out;
//             transition: all .25s ease-out;
//     left: 0;
//     .sidebar {
//       left: -33%;
//       position: absolute;
//       top: 0;
//       overflow: hidden;
//       width: 33%;
//     }
//     .submenu {
//       overflow: hidden;
//       width: 50%;
//       -webkit-transition: all .25s ease-out;
//            -o-transition: all .25s ease-out;
//               transition: all .25s ease-out;
//     }
//     .content {
//       -webkit-transition: all .25s ease-out;
//            -o-transition: all .25s ease-out;
//               transition: all .25s ease-out;
//       left: 0;
//       position: absolute;
//       top: 0;
//       width: 100%;
//     }
//   }
//   .main.menu_active {
//     left: 33%;
//   }
//   .main.submenu_active {
//     .content {
//       left:50%;
//     }
//     .menu {
//       left : -33%;
//     }
//   }
// }
