.simple_form {

  fieldset .input.api_key {

    .form-wrapper {
      border: none;
      background: none;

      code {
        display: block;
        background: white;
        margin-bottom: 10px;
        padding: $padding-base-vertical $padding-base-horizontal;

        font-size: 14px;

        border: $form_input_control_border_size solid $form_input_control_border_color;
        border-radius: $form_input_control_border_size;
      }
    }

  }

}
