.simple_form {

  fieldset .input.array {
    .form-wrapper {
      padding: 0px $padding-base-horizontal;

      .list {
        & > .item {
          padding-top: 6px;
          padding-bottom: 6px;
          border-bottom: $form_input_array_border_size solid $form_input_array_border_color;

          .inner-row {
            @include display-flex;
            @include flex-align(center);

            min-height: $form_input_array_item_height;

            > .icon {
              line-height: $line-height-computed;
              margin-right: $padding-base-horizontal;

              .img-circle {
                width: 35px;
                border: 1px solid $form_input_array_media_border_color;
              }
            }

            > .draggable {
              margin-right: $padding-base-horizontal;
              color: $form_input_array_draggable_color;
              font-size: 16px;
              @include draggable;
            }

            > .buttons {
              margin-left: auto;
            }
          }

          &.ui-sortable-helper {
            background: #fff;
            border: $form_input_array_border_size solid $form_input_array_border_color;
          }
        }

        &.no-new-field > .item:last-child {
          border-bottom: none;
        }

        .sortable-placeholder {
          background-color: $form_input_array_placeholder_background;
          @include make-row();
          height: $form_input_array_placeholder_height + $form_input_array_placeholder_margin * 2;

          .inner {
            background-color: $form_input_array_placeholder;
            @include border-radius($form_input_array_placeholder_height / 2);
            border: none;
            margin-top: $form_input_array_placeholder_margin - ($form_input_array_border_size / 2);
            margin-bottom: $form_input_array_placeholder_margin;
            margin-left: $form_input_array_border_size;
            margin-right: $form_input_array_border_size;
            height: $form_input_array_placeholder_height
          }

        }

      }

      .new-field {

        .field, .button {
          height: 44px;
          line-height: 44px;
        }

        .field {
          padding-left: $form_input_control_border_size;

          input[type=text] {
            @include box-shadow(none);
            padding-left: $padding-base-horizontal - $form_input_control_border_size;
          }
        }

        .form-control.select2-container {
          background: transparent;
          border: none;
          @include border-radius(0px);
          left: -$form_input_control_border_size - 1px;
          padding: $select2-vertical-padding $form_input_control_border_size * 2;

          &.select2-dropdown-open {
            padding-top: $select2-vertical-padding;
            padding-bottom: $select2-vertical-padding + 1px;
          }

          &.select2-dropdown-open.select2-drop-above {
            padding-top: $select2-vertical-padding;
            padding-bottom: $select2-vertical-padding;
          }
        }

      }
    }
  }
}

@media (max-width: $screen-sm-min) {

  .formtastic {
    fieldset .input.array {
      .form-wrapper {
        .list {
          & > .item {
            .inner-row {
              @include flex-wrap;

              > .text {
                margin-right: $padding-base-horizontal;
              }

              > .buttons {
                margin-left: 0px;
              }
            }
          }
        }
      }
    }
  }

}
