.formtastic {

  fieldset {
    padding-top: 20px;

    legend {
      display: none;
    }

    > .input {
      background: $form_input_background_color;
      padding: $form_input_padding;
      @include border-radius($form_input_radius);

      .control-label {
        display: inline-block;
        font-size: $form_input_label_size;
        font-weight: bold;
        text-transform: uppercase;
        color: $form_input_label_color;

        abbr {
          margin-left: 5px;
        }
      }

      .help-inline, .error-inline {
        margin-left: 10px;
        font-family: $alt-font-family-sans-serif;
      }

      .help-inline {
        color: $form_input_help_color;
        font-size: $form_input_help_size;
      }

      .error-inline {
        color: $state-danger-text;
      }

      .form-wrapper {
        margin-top: 12px;
        display: block;
        border: $form_input_control_border_size solid $form_input_control_border_color;
        @include border-radius($form_input_control_border_size);

        > input, > select {
          border: none;
          @include border-radius(0px);
        }
      }

    }

    .has-error {
      @include form-control-validation($text-color, $input-border, $state-danger-bg);
    }
  }
}


