$select2-vertical-padding:        6px;
$select2-horizontal-padding:      5px;
$select2-height:                  32px;

.simple_form {

  fieldset .input.select .form-wrapper {
    border: none;
  }

}

.simple_form .select2-container {

  @include box-shadow(none);
  border: none;

  border: $form_input_control_border_size solid $form_input_control_border_color;
  @include border-radius($form_input_control_border_size);

  padding: $select2-vertical-padding $select2-horizontal-padding;

  height: auto;

  @include transition(none);

  .select2-choice {
    background: transparent;
    @include box-shadow(none);
    border: none;

    height: $select2-height;
    line-height: $select2-height;

    padding-left: 8px;

    .select2-chosen {
      padding: 0px;
    }

    .select2-arrow {
      background: transparent;
      border: none;
    }
  }

  &.select2-drop-above .select2-choice {
    background: transparent;
    @include box-shadow(none);
    border: none;
  }

  &.select2-container-active {
    border: $form_input_control_border_size solid $form_input_control_border_color;
  }

  &.select2-dropdown-open {
    border-bottom: none;
    @include border-top-radius($form_input_control_border_size);

    padding-bottom: $select2-vertical-padding + $form_input_control_border_size;
  }

  &.select2-dropdown-open.select2-drop-above {
    border-top: none;
    border-bottom: $form_input_control_border_size solid $form_input_control_border_color;
    @include border-top-radius(0px);
    @include border-bottom-radius($form_input_control_border_size);

    padding-top: $select2-vertical-padding + $form_input_control_border_size;
    padding-bottom: $select2-vertical-padding;
  }

}

.select2-results {
  .select2-no-results, .select2-searching {
    color: $form_input_help_color;
    font-size: $form_input_help_size;
    background: $form_input_background_color;
    font-family: $alt-font-family-sans-serif;
  }

  .select2-highlighted {
    background: $brand-primary;
  }
}


.select2-drop-active {
  border: $form_input_control_border_size solid $form_input_control_border_color;
  border-top: none;
  @include box-shadow(none);
}

.select2-drop.select2-drop-above.select2-drop-active {
  border-top: $form_input_control_border_size solid $form_input_control_border_color;
  @include box-shadow(none);
}

// custom label

.select2-chosen, .select2-result-label {
  img.flag {
    margin-right: 5px;
  }
}
