= render 'edit'

- content_for :preview do
  .embed-responsive.embed-page
    %iframe.embed-responsive-item{ src: preview_path(current_site) + '/' + (params[:preview_path] || current_site.localized_page_fullpath(@page, current_content_locale)), data: { redirection_error: t('.redirection_error') } }



