// =============================================================================
// Brand
// =============================================================================

// The Locomotive CMS logo

.brand-logo {
  display: inline-block;
  img {
    display: inline-block;
    height: 14px;
    vertical-align: middle;
  }
}
