.sidebar {

  background: $sidebar_background_color;
  color: $sidebar_text_color;

  * {
    color: $sidebar_text_color;
  }

  section {
    border-bottom: 1px solid $sidebar_section_border_color;

    padding-left:  ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);

    h1 {
      font-size: 12px;
      text-transform: uppercase;
      color: $sidebar_section_title_color;

      margin-top: 15px;
      margin-bottom: 8px;
    }

    a:hover {
      text-decoration: none;
      span.text {
        // @include text-shadow(rgba(#fff, 0.5) 0px 0px 1px);
        @include transition(all 0.3s ease-in-out);
        color: $sidebar_hovered_link_color !important;
      }
    }
  }

}
