.sidebar {

  .content-types {

    ul {
      list-style: none outside none;
      padding: 0px;

      li {
        a {
          display: block;
          overflow: auto;
          padding-top: 5px;
          padding-bottom: 5px;

          .text {
            margin-right: 5px;
          }

          .badge {
            font-size: 10px;
            padding: 2px 3px;
          }
        }
      }
    }

  }

}
