$sidebar_link_height: 45px;
$sidebar_link_arrow_color: #616161;
$sidebar_link_icon_color: #949999;

.sidebar {

  .link {

    a {
      display: block;
      overflow: auto;
      height: $sidebar_link_height;
      line-height: $sidebar_link_height;
    }

    .text {
      @include transition(all 0.3s ease-in-out);
      color: $sidebar_link_color;
    }

    .icon {
      margin-right: 5px;
      font-size: 14px;
      color: $sidebar_link_icon_color;
    }

    .arrow {
      float: right;
      font-size: 22px;
      position: relative;
      top: -2px;

      i {
        color: $sidebar_link_arrow_color;
      }
    }

  }

}