.sidebar {

  section.my-account {

    a {

      .img-circle {
        width: 30px;
        height: 30px;
      }

      span {
        margin-left: 10px;
        font-size: 16px;
      }

    }

  }

}
