$pt_icon_color:         #636666;
$pt_border_color:       #4a4d4d;
$pt_new_link_color:     #949999;
$pt_placeholder_color:  #2f2f2f;

.sidebar {

  .pages-tree {

    ul {
      list-style: none outside none;
      padding: 0px;

      &.root {
        padding-top: 2px;
      }

      li {
        margin: 9px 0px;

        .icon {
          @include user-select(none);

          margin-left: 1px;
          margin-right: 5px;

          &, > * {
            color: $pt_icon_color;
          }

          &.draggable {
            cursor: move;
          }
        }

        &.unpublished > a {
          font-style: italic;
        }

        .fold-unfold {
          @include user-select(none);

          margin-left: 3px;

          i {
            color: $pt_icon_color;
            display: none;
            position: relative;
            cursor: pointer;
            font-size: 14px;

            &.unfolded  { top: -1px; }
            &.folded    { top: 3px; }
          }

          &.folded .folded, &.unfolded .unfolded { display: inline; }
        }

        &.new-content {
          a {
            margin-left: 1px;
            color: $pt_new_link_color;
            text-transform: capitalize;

            .text {
              @include transition(all 0.3s ease-in-out);
              color: $pt_new_link_color;
            }
          }
        }
      }

      ul.leaves {
        margin-left: 5px;
        padding: 0px 14px 0px;
        border-left: 1px solid $pt_border_color;
      }

      .sortable-placeholder {
        background-color: $pt_placeholder_color;
        height: 20px;
        @include border-radius(10px);
        border: none;
      }

    }

  }

}