- title t('.title')

.row
  .col-md-12
    %h3= t('.activity')

    %ul.activity-feed
      - @activities.each do |activity|
        %li
          %h4
            = activity.actor.name
            %small= activity.created_at.to_s(:humanized_ago)
          %p.sentence
            = render_activity_sentence(activity)
            / = activity.key
            / = activity.parameters.inspect

