@import "helpers";

#menu li.contents a em { @include menu-contents-icon; }
body.contents {
  $color: black;
  #menu li.contents {
    @include menu-color($color);
    em { @include menu-contents-icon(true); }
  }
  #submenu { @include submenu-color($color); }
}

#menu li.assets a em { @include menu-assets-icon; }
body.assets {
  $color: green;
  #menu li.assets {
    @include menu-color($color);
    em { @include menu-assets-icon(true); }
  }
  #submenu { @include submenu-color($color); }
}

#menu li.settings a em { @include menu-settings-icon; }
body.settings {
  $color: blue;
  #menu li.settings {
    @include menu-color($color);
    em { @include menu-settings-icon(true); }
  }
  #submenu { @include submenu-color($color); }
}
