!!! XML
!!!
%html{ xmlns: 'http://www.w3.org/1999/xhtml'  }
  %head
    = render 'locomotive/shared/head'
  %body{ class: "#{sections} no-sidebar"  }

    = render 'locomotive/shared/header'

    .wrapper
      .scrollable
        .container-fluid
          .main
            = yield