- if @with_children
  %li.node
    %i.fa.fa-file-text-o.fa-flip-horizontal.icon
    = link_to @page.title, edit_page_path(@page)

    - unless @templatized_page
      %span.fold-unfold{ class: fold_state(@page) }
        %i.fa.fa-sort-desc.unfolded
        %i.fa.fa-sort-asc.folded

    %ul.leaves
      - @children.each do |(child, children)|
        = render({ state: :show_page }, child, children)

      - if @templatized_page && @content_type
        %li.new-content
          %i.fa.fa-plus.icon
          = link_to t(:new_content_entry, name: @content_type.name.singularize, scope: 'locomotive.pages.index'), new_content_entry_path(@templatized_page.content_type.slug)

- else
  %li.leaf
    %i.fa.fa-file-text-o.fa-flip-horizontal.icon
    = link_to @page.title, edit_page_path(@page)
