$form_input_border_color: #4999b2;

.formtastic {

  .form-group {

    .control-label {
      text-transform: uppercase;
      font-size: 85%;
      line-height: 18px;
    }

    select {
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
      border-radius: 0px;
    }

    .help-inline, .error-inline {
      margin-left: 10px;
      font-family: $alt-font-family-sans-serif;
    }

    .error-inline {
      color: $state-danger-text;
    }

  }

  .form-wrapper {
    display: block;
    border: 3px solid $form_input_border_color;
  }

  a {
    color: #000;
    @include opacity(0.4);
  }

}