$form_input_label_color:  #333;
$form_input_border_color: #4999b2;

.formtastic {
  width: 100%;

  fieldset {

    > .input {

      padding: 0px;
      background: transparent;

      .form-wrapper {
        display: block;
        margin-top: 0px;
        border: 3px solid $form_input_border_color;
      }

      .control-label {
        text-transform: uppercase;
        font-size: 85%;
        line-height: 18px;
        color: $form_input_label_color;
      }

      select {
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
        border-radius: 0px;
      }

      .help-inline, .error-inline {
        margin-left: 10px;
        font-family: $alt-font-family-sans-serif;
      }

      .error-inline {
        color: $state-danger-text;
      }

    }

  }

  a {
    color: #000;
    @include opacity(0.4);
  }

  .form-actions {
    button[type="submit"] {
      margin-top: 0px;
    }
  }

}