h1 {
  text-align: center;
  min-height: 50px;
  // letter-spacing: 2px;
  margin-bottom: 50px;

  @media (max-width: $screen-sm-max) {
    margin-bottom: 30px;
    font-size: ceil(($font-size-base * 1.25));
    font-weight: 400;
  }
}