body.live-editing .drawer {
  .content-assets,
  .content-assets-list {
    margin-left: $live_editing_expand_bar_width;
  }
}

.content-assets {
  .updatable {
    margin-top: 140px;

    > .nav-container {
      height: 39px;
      padding: 3px 0 10px 0;
    }

    > .list-container {
      margin-top: 192px;

      .pagination {
        margin-top: 10px;
      }
    }
  }

  .sidebar-dropzone {
    height: 100%;
  }

  .top-dropzone {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 140px;
  }

  .dropzone {
    background: $assets_dropzone_background_color;

    &.hovered {
      background: $assets_dropzone_background_hover_color;
    }

    .dropzone-inner {
      position: fixed;
      top: 100px;
    }

    .instructions {
      margin-top: 10px;
      font-size: 12px;
      color: $assets_dropzone_instructions_color;
      text-align: center;

      strong {
        font-size: 14px;
        color: #555;
      }

      i {
        font-size: 65px;
        color: #bec1c2;
      }
    }

    .progress {
      @include box-shadow(none);
      height: $assets_dropzone_progress_size;
      margin-top: 10px;
      background: $assets_dropzone_progress_background;
      border-radius: $assets_dropzone_progress_size / 2;

      .progress-bar {
        background: $assets_dropzone_progress_bar_color;
      }
    }
  }
}

.content-assets-list {
  display: flex;
  align-items: left;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;

  .asset {
    position: relative;
    width: $asset_width;
    height: $asset_height;
    padding: 10px 15px;
    margin: 0 20px 20px 0;
    background: $asset_background;
    border-radius: $asset_border_radius;

    h2 {
      margin: 0 0 4px 0;
      font-size: 14px;
      color: $asset_title_color;
      text-align: right;
    }

    .size {
      margin-bottom: 10px;
      font-size: 11px;
      color: $asset_size_color;
      text-align: right;
    }

    .body {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: $asset_height - 106;
    }

    .small-thumbnail {
      display: inline-block;
      padding: $asset_thumbnail_border_radius;
      background: $asset_thumbnail_background;
      border-radius: $asset_thumbnail_border_radius;

      img {
        border: $asset_thumbnail_img_border;
      }

      .not-a-image {
        position: relative;
        width: 120px;
        height: 120px;
        border: 2px solid $asset_not_image_border_color;

        &.pdf {
          background: $asset_pdf_background;
        }
        &.media {
          background: $asset_media_background;
        }
        &.other {
          background: $asset_other_background;
        }

        span {
          position: relative;
          top: 40px;
          display: block;
          font-size: 22px;
          font-weight: bold;
          color: $asset_not_image_text_color;
          text-align: center;
          text-transform: uppercase;

          // FIXME: Disabled because it slows down the scrolling
          // @include transform(rotate(-45deg));
        }
      }
    }

    .actions {
      position: absolute;
      right: 15px;
      bottom: 10px;

      a.remove {
        color: $asset_remove_icon_color;
      }
    }
  }
}

.edit-assets-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .actions {
    position: absolute;
    top: 120px;
    right: 5px;
  }

  .image-container {
    width: 100%;
    overflow: hidden;
    text-align: center;
    background-color: $cropping_asset_background;
  }

  .image-container {
    height: 100%;
  }

  .image-container > img {
    max-width: 100%;
    max-height: inherit;
  }

  .cropper-label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px 6px;
    font-size: 11px;
    color: $cropping_asset_label_color;
    background: $cropping_asset_label_background;
  }
}
