body.live-editing {
  .content .close-button {
    @include opacity(0);
    left: 0;
  }
  &.full-width-preview {
    .content .close-button {
      @include opacity(1);
    }
    .content.expand-button {
      display: none;
    }
    .content {
      background-color: $live_editing_content_alt_background_color;
      > .inner {
        @include opacity(0);
      }
    }
  }
  .simple_form.rte-expanded {
    fieldset.inputs.expanded {
      position: absolute !important;
    }
  }

  .simple_form fieldset .input.rte .form-wrapper .wysihtml5-toolbar > .wysihtml5-toolbar-group {
    margin-right: 12px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.embed-page {
  height: 100%;
  padding-bottom: 0;
}
