.main {
  background: $main_background_color;

  .header-row {
    padding: 20px 0;

    h1 {
      margin: 0;
      font-family: $font-family-sans-serif;
      font-size: 22px;
      color: $main_title_color;
    }

    .text {
      margin: 0.8rem 0 0 0;
      color: rgba($main_title_color, 0.7);
    }

    .dropdown-menu {
      i {
        margin-right: 1rem;
      }
    }

    .actions {
      text-align: right;

      & > a, & > div {
        margin-left: 5px;
        display: inline-block;
      }

      .btn > i {
        margin-right: 0.5rem;
      }

      .btn.dropdown-toggle {
        border-left: 1px solid $btn-primary-border;
      }
    }
  }
}
