.main {
  background: $main_background_color;

  .header-row {
    padding: 20px 0;

    h1 {
      margin: 0;
      font-family: $font-family-sans-serif;
      font-size: 22px;
      color: $main_title_color;
    }

    .actions {
      text-align: right;
      p {
        margin: 0;
      }

      a {
        margin-left: 5px;
      }
    }
  }
}
