.editor-block {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.editor-block-label {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.editor-block-image {
  margin-right: 1rem;
}

.editor-block-actions {
  margin-left: auto;
}

.editor-block-image {
  background: #ccc;
  width: 3rem;
  height: 3rem;

  img {
    display: block;
    max-width: 100%;
    max-height: 3rem;
  }
}
