.editor-header {
  display: flex;
  padding: 0rem 2rem;
  min-height: 10rem;
  align-items: center;
  justify-content: space-between;
  background: #33373B;

  &--navinfo {
    padding: 2rem 0;
  }

  .navinfo {
    &--path {
      color: #adb1b7;
      font-size: 1.4rem;
    }

    &--title {
      font-size: 1.7rem;
      font-weight: bold;
      color: #f9f9fa;
    }

  }

  &--savebtn {

    .btn {
      padding: 0.8rem 2rem;
    }

  }
}
