.editor-image-uploader {
  input[type=file] {
    display: none;
  }
}

.editor-image-list {
  margin: 2rem;

  &--loading {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
  }

  &--pagination {
    display: flex;
    align-items: center;
    margin-top: 2rem;

    .pagination {
      margin: 0 auto;
    }
  }

}

.editor-image {
  margin-bottom: 0.5rem;
  width: calc(100% / 3 - 0.5rem);

  &--inner {
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease;
    cursor: pointer;

    img {
      display: block;
      border: none;
      max-width: 100%;
      height: auto;
      background: $gray-lighter;
    }
  }

  &--inner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.2s ease;
  }

  &.active .editor-image--inner {
    transform: scale(0.9);

    &:before {
      box-shadow: inset 0 0 0 5px $brand-primary;
    }
  }

}
