.editor-input-image-picker-src {
  max-width: 100%;
  max-height: 100px;
}

.DraftEditor-editorContainer, .DraftEditor-root, .public-DraftEditor-content {
  height: 100%;
}

.editor-input {
  margin-bottom: 2rem;
}

.editor-input input[type=text] {
  display: block;
  width: 100%;
  padding: 0.5rem 0.8rem;
}

.editor-input-text {

  .rdw-editor-toolbar {
    position: relative;
  }

  .rdw-link-wrapper {
    position: static;
  }

  .rdw-link-modal {
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    box-shadow: none;
  }

}

