.editor-menu {

  .nav-tabs {
    display: flex;
  }

  .nav-tab {
    flex-grow: 1;
    text-align: center;

    a {
      margin-right: 0;
      cursor: pointer;
    }

    svg {
      margin-right: 0.8rem;
    }
  }

}

.editor-tabpanes-wrapper {
  height: 100%;
}
