$header_dropdown_background_color: #383838;
$header_dropdown_hovered_background_color: #2f2f2f;
$header_dropdown_link_color: #999;
$header_dropdown_hovered_link_color: #fff;

.account-menu-wrapper {
  > li.dropdown {
    & > a {
      font-family: $alt-font-family-sans-serif;
      font-size: $font-size-base - 1;
      line-height: 20px;
      color: rgba($header_default_color, 1.0);
      outline: none;

      &:hover,
      &:focus {
        color: rgba($header_default_color, 1.0);
      }

      img {
        width: 35px;
        margin-right: 10px;
      }

      .caret {
        margin-left: 10px;
      }
    }

    &.open > a,
    &.open > a:hover,
    &.open > a:focus {
      color: rgba($header_default_color, 1.0) !important;
      background: $navbar-default-bg;
    }

    ul.dropdown-menu {
      @include box-shadow(none);
      right: 15px;
      background: $header_dropdown_background_color;
      border-radius: 3px;

      li.divider {
        background-color: $header_dropdown_hovered_background_color;
      }

      li:before {
        right: 15px !important;
        left: auto !important;
      }

      a {
        font-size: $font-size-base - 1;
        color: $header_dropdown_link_color;

        &:hover {
          color: $header_dropdown_hovered_link_color;
          background: $header_dropdown_hovered_background_color;
        }
      }
    }
  }
}
