$header_brand_color: $header_default_color;
$header_brand_font_size: 15px;
$header_site_arrow_color: lighten($brand-primary, 20);

.navbar-header {
  width: 30%;
  .navbar-brand,
  .navbar-site,
  .navbar-text {
    margin-right: 0;
    margin-left: 0;
  }
  .navbar-site {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 0;
    text-align: center;
  }
  .navbar-brand {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: $font-size-base + 2;
    color: $header_brand_color;
    img {
      width: 16px;
      margin-right: 3px;
      vertical-align: baseline;
    }
    span.default,
    span.default a {
      font-family: $alt-font-family-sans-serif;
      font-size: $font-size-base + 2;
      color: rgba($header_brand_color, 1);
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.navbar-collapse {
  padding: 0;
  .navbar-right {
    width: 30%;
    > li {
      float: right;
    }
  }
  .navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 7px;
    line-height: 35px;
  }
}

.navbar-site {
  display: flex;
  justify-content: center;
  width: 40%;

  li {
    a {
      display: inline-block;
      &:first-child {
        padding-right: 0;
      }
      span.arrow {
        position: relative;
        top: 1px;
        i {
          font-size: 14px;
          font-weight: bold;
          color: $header_site_arrow_color;
        }
      }
      &:hover {
        // TODO: cf Mathieu
      }
    }
  }
}

.navbar-default {
  .navbar-toggle {
    z-index: 10;
    background-color: rgba(#000, .2);
    border-color: transparent;
    &:focus,
    &:active {
      background-color: rgba(#000, .2);
    }
    .icon-bar {
      @include transition(all .3s ease-in-out);
      background-color: rgba(#fff, .6);
    }
    &:hover {
      background-color: rgba(#000, .2);
      .icon-bar {
        background-color: #fff;
      }
    }
  }
}
