%script{ :type => 'text/html', :id => 'domain_entry' }

  %em
    http://
  = text_field_tag 'site[domains][]', '{{name}}', :class => 'string label void domain'
  &nbsp;
  {{#if error}}
  %span.inline-errors {{error}}
  {{/if}}
  %span.actions
    = link_to 'x', '#', :class => 'remove'