%section.link.my-account.visible-xs-block

  = link_to edit_my_account_url do

    = image_tag account_avatar_url(@account, '60x60#'), class: 'img-circle', alt: @account.name_was

    %span.text
      = @account.name_was
