%section.link{ class: @attributes[:section_class] }

  = link_to @attributes[:url] do

    %span.arrow
      %i.fa.fa-angle-right

    %i.icon.fa{ class: @attributes[:icon] }

    %span.text= @attributes[:label]
