.wysihtml5-toolbar{ id: "wysihtml5-toolbar-#{wysihtml5_prefix}", style: 'display: none' }

  %span.wysihtml5-toolbar-group
    %a{ data: { wysihtml5_command: 'bold' } }
      %i.fa.fa-bold
    %a{ data: { wysihtml5_command: 'italic' } }
      %i.fa.fa-italic
    %a{ data: { wysihtml5_command: 'underline' } }
      %i.fa.fa-underline
    %a{ data: { wysihtml5_command: 'strike' } }
      %i.fa.fa-strikethrough

  %span.wysihtml5-toolbar-group
    %a{ data: { wysihtml5_command: 'justifyLeft' } }
      %i.fa.fa-align-left
    %a{ data: { wysihtml5_command: 'justifyCenter' } }
      %i.fa.fa-align-center
    %a{ data: { wysihtml5_command: 'justifyRight' } }
      %i.fa.fa-align-right
    %a{ data: { wysihtml5_command: 'justifyFull' } }
      %i.fa.fa-align-justify

  %span.wysihtml5-toolbar-group
    %a{ data: { wysihtml5_command: 'insertUnorderedList' } }
      %i.fa.fa-list-ul
    %a{ data: { wysihtml5_command: 'insertOrderedList' } }
      %i.fa.fa-list-ol
    %a.style
      %i.fa.fa-paragraph

    .style-dialog-content{ style: 'display: none' }
      %a{ data: { wysihtml5_command: 'formatBlock', wysihtml5_command_value: 'h1' } } H1
      %br
      %a{ data: { wysihtml5_command: 'formatBlock', wysihtml5_command_value: 'h2' } } H2
      %br
      %a{ data: { wysihtml5_command: 'formatBlock', wysihtml5_command_value: 'h3' } } H3
      %br
      %a{ data: { wysihtml5_command: 'formatBlock', wysihtml5_command_value: 'h3' } } H4
      %br
      %a{ data: { wysihtml5_command: 'formatBlock', wysihtml5_command_value: 'h3' } } H5
      %br
      %a{ data: { wysihtml5_command: 'formatBlock', wysihtml5_command_value: 'h3' } } H6
      %br
      %a{ data: { wysihtml5_command: 'formatBlock', wysihtml5_command_value: 'p' } } P
      %br
      %a{ data: { wysihtml5_command: 'formatBlock', wysihtml5_command_value: 'blockquote' } }
        %i.fa.fa-quote-right
      %br

    %a{ data: { wysihtml5_command: 'createLink' } }
      %i.fa.fa-chain
    = link_popover
    %a{ data: { wysihtml5_command: 'removeLink' } }
      %i.fa.fa-chain-broken

    %a{ data: { url: content_assets_path, wysihtml5_command: 'insertFile' } }
      %i.fa.fa-file-o
    = image_popover

  %span.wysihtml5-toolbar-group
    %a{ data: { wysihtml5_action: 'change_view' } }
      %i.fa.fa-code
