- list = Locomotive::ContentTypeService.new(current_site).list

- unless list.empty?
  %section.content-types
    %h1= t(:title, scope: 'locomotive.content_types.index')

    %ul
      - list.each do |content_type|
        %li
          = link_to content_entries_path(current_site, content_type.slug) do
            %span.text= content_type.name

            %span.badge= content_type.number_of_entries || '?'


