%li= link_to t(:sites, scope: 'locomotive.shared.header'), sites_path
%li= link_to t(:account, scope: 'locomotive.shared.header'), edit_my_account_path
%li= link_to t(:help, scope: 'locomotive.shared.header'), 'http://doc.locomotivecms.com'
%li.divider
%li= link_to t(:logout, scope: 'locomotive.shared.header'), signout_path, data: { confirm: t('locomotive.messages.confirm') }, method: :delete
