= link_to '#', id: 'navigation-dropdown', class: 'dropdown-toggle', data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } do
  = image_tag account_avatar_url(@current_locomotive_account), class: 'img-circle', alt: @current_locomotive_account.name_was
  span= current_locomotive_account.name_was
  span.caret
