- if (_title = yield(:site_title)).present?
  .navbar-text
    = _title
- else
  = link_to current_site.name_was, dashboard_path(current_site)
  = link_to preview_path(current_site) do
    %span.arrow
      %i.fa.fa-external-link
