#local-actions-bottom-bar
  .span-12
    %p
      - if defined?(back_url)
        = link_to escape_once('&larr;&nbsp;') + t('.back'), back_url
      - elsif defined?(delete_button)
        = delete_button
      &nbsp;

  .span-12.last
    %p
      = submit_tag button_label.is_a?(Symbol) ? t(".#{button_label}") : button_label, :'data-disable-with' => t('.disable_with'), :'data-sending-form-message' => t('locomotive.messages.sending_form')

  .clear