- # this partial can be overridden in the main app in order to include extra js before Backbone is initialized to include your own backbone Views/Models when extending the backoffice with your custom views.
