- # Note: do not forget to add a "|" character at the end of each line
- # http://haml.info/docs/yardoc/file.REFERENCE.html#multiline

= render_cell 'locomotive/sidebar', :show, site: current_site, list: [      |
    { icon: 'fa-dashboard', label: t('.dashboard'), url: dashboard_path },       |
    :pages,                                                                 |
    :content_types,                                                         |
    { icon: 'fa-picture-o', label: t('.assets'), url: content_assets_path },          |
    { icon: 'fa-gear', label: t('.settings'), url: edit_current_site_path } |
  ]                                                                         |
