/* ___ application messages ___ */

div.notice {
  background: transparent url(/images/admin/form/growl-notice.png) repeat-x 0 0;
  position: relative;
  width: 100%;
  height: 90px;
}

div.notice.error, div.notice.alert {
  background-image: url(/images/admin/form/growl-error.png);
}

div.notice p {
  position: relative;
  top: 35px;
  margin: 0px;
  text-align: center;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px #333;
  color: #fff;
}

/* ___ list ___ */

p.no-items {
  padding: 15px 0px;
  background: transparent url(/images/admin/list/none.png) no-repeat center 0;
  text-align: center;
  color: #9d8963 !important;
  font-size: 1.1em !important;
}

p.no-items a {
  color: #ff2900;
  text-decoration: none;
}

p.no-items a:hover {
  text-decoration: underline;
}

ul.list {
  list-style: none;
  margin: 0px 0 20px 0;
  background: white;
}

ul.list li {
  height: 31px;
  margin-bottom: 10px;
  position: relative;
  clear: both;
}

ul.list li em {
  display: block;
  float: left;
  background: transparent url(/images/admin/list/item-left.png) no-repeat left 0;
  height: 31px;
  width: 18px;
}

ul.list li strong {
  margin-left: 18px;
  display: block;
  height: 31px;
  background: transparent url(/images/admin/list/item-right.png) no-repeat right 0;
}

ul.list li strong a {
  position: relative;
  top: 2px;
  left: 15px;
  text-decoration: none;
  color: #1f82bc;
  font-size: 0.9em;
  text-shadow: 1px 1px 1px #fff;
}

ul.list.sortable li strong a { left: 10px; }

ul.list li strong a:hover { text-decoration: underline; }

ul.list li div.more {
  position: absolute;
  top: 3px;
  right: 15px;
  font-size: 0.7em;
  color: #8b8d9a;
}

ul.list li div.more a {
  margin-left: 10px;
  position: relative;
  top: 4px;
}

ul.list li span.handle {
  position: relative;
  top: 5px;
  margin: 0 0 0 15px;
  cursor: move;
}

/* ___ asset collections ___ */

div#asset-uploader { display: inline-block; margin-left: 10px; }
div#asset-uploader span.spinner { position: relative; top: -3px; display: none; }
div#uploadAssetsInputQueue { display: none; }

/* ___ theme assets ___ */

ul.theme-assets { margin-left: 40px; }

ul.theme-assets li.hidden strong a { font-style: italic; color: #8B8D9A; font-weight: normal; }

/* ___ contents ___ */

#contents-list li { background: none; }

#contents-list.sortable li em {
  background-position: left -31px;
  cursor: move;
}

#contents-list li strong {
  margin-left: 18px;
  display: block;
  height: 31px;
  background: transparent url(/images/admin/list/item-right.png) no-repeat right 0;
}

/* ___ snippets ___ */

/* ___ pages ___ */

#pages-list {
  list-style: none;
  margin: 0px 0 20px 0;
  background: white;
}

#pages-list ul { list-style: none; margin: 10px 0 10px 40px; padding: 0; }

#pages-list li {
  margin-bottom: 10px;
  position: relative;
  clear: both;
}

#pages-list li em {
  display: block;
  float: left;
  background: transparent url(/images/admin/list/item-left.png) no-repeat left 0;
  height: 31px;
  width: 18px;
}

#pages-list ul.folder li em {
  background-position: left -31px;
  cursor: move;
}

#pages-list li .toggler {
  position: absolute;
  top: 9px;
  left: -15px;
  cursor: pointer;
}

#pages-list li strong {
  margin-left: 18px;
  display: block;
  height: 31px;
  background: transparent url(/images/admin/list/item-right.png) no-repeat right 0;
}

#pages-list li strong a {
  position: relative;
  top: 2px;
  text-decoration: none;
  color: #1f82bc;
  font-size: 0.9em;
  padding-left: 6px;
  text-shadow: 1px 1px 1px #fff;
}

#pages-list li strong a:hover { text-decoration: underline; }

#pages-list li.hidden strong a { font-style: italic; font-weight: normal; }

#pages-list ul.folder li.templatized > strong a {
  padding-right: 24px;
  background: transparent url(/images/admin/list/icons/template.png) no-repeat right 3px;
}

#pages-list ul.folder li.redirect > strong a {
  padding-right: 24px;
  background: transparent url(/images/admin/list/icons/redirect.png) no-repeat right 2px;
}

#pages-list li .more {
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 0.7em;
  color: #8b8d9a;
  height: 31px;
  line-height: 31px;
}

#pages-list li .more a {
  position: relative;
  top: 3px;
  margin-left: 10px;
  outline: none;
}

#pages-list li.not-found { border-top: 1px dotted #bbbbbd; padding-top: 10px; margin-left: 0px; }
#pages-list li.not-found .more { top: 10px; }

/* ___ Progress bar ___ */

#progressbar-wrapper { margin: 40px 0; height: 30px; }
#progressbar-wrapper #progressbar { height: 100%; }

/* ___ import steps ___ */

#import-steps { margin: 0px 200px; }

#import-steps li strong a { color: #b7baca; }

#import-steps li .more .states {
  position: relative;
  top: 4px;
  height: 16px;
  width: 16px;
  background: transparent url(/images/admin/list/icons/states.png) no-repeat 0 0;
}

#import-steps li.done .more .states {
  background-position: 0 -16px;
}

#import-steps li.failed .more .states {
  background-position: 0 -32px;
}

#import-steps li.done strong a {
  color: #1F82BC;
}

/* paragraph (for help for example) */

p span.code {
  background: #EBEDF4;
  color: #8B8D9A;
  text-shadow: #fff 0px 1px;
  padding: 2px 3px;
}


