/* custom styles for fancybox */

/* ___ common ___ */

.fancybox-wrapper { display: none; }

#fancybox-inner h2 {
  border-bottom:1px dotted #BBBBBD;
  color:#1E1F26;
  font-size:1.1em;
  font-weight:bold;
  padding-bottom:10px;
}

#fancybox-inner form.formtastic legend span {
  background-image: url("/images/admin/form/header-popup.png");
  width: 453px;
}

#fancybox-inner form.formtastic ol {
  background-image: url("/images/admin/form/footer-popup.png");
}

#fancybox-inner form.formtastic fieldset ol li label {
  width: 20%;
}

#fancybox-inner form.formtastic fieldset ol li.string input,
#fancybox-inner form.formtastic fieldset ol li.password input,
#fancybox-inner form.formtastic fieldset ol li.numeric input,
#fancybox-inner form.formtastic fieldset ol li.text textarea,
#fancybox-inner form.formtastic fieldset ol li code textarea,
#fancybox-inner form.formtastic fieldset ol li input[type=password] {
  width: 45%;
}

#fancybox-inner form.formtastic fieldset ol li p.inline-hints {
  margin-left: 30%;
}

#fancybox-inner form.formtastic .editable-list ol {
  width: 433px;
}

#fancybox-inner form.formtastic .editable-list li {
  width: 413px;
}

#fancybox-inner form.formtastic .editable-list li {
  background-image: url("/images/admin/form/item-popup.png");
}

#fancybox-inner form.formtastic .editable-list li.template {
  background-image: url("/images/admin/form/big_item-popup.png");
}

#fancybox-inner p { color: #8B8D9A; font-size: 0.8em; }

/* ___ asset picker ___ */

div.asset-picker { width: 720px; position: relative; }
div.asset-picker .actions { position: absolute; right: 4px; top: 0px; }

div.asset-picker p.no-items { background-image: url("/images/admin/list/none-small.png"); }

div.asset-picker ul { overflow: auto; height: 471px; }
div.asset-picker ul li.new-asset { display: none; }

div.asset-picker ul { margin: 0px; }
div.asset-picker ul li .more { top: 8px; }

/* ___ custom fields ___ */

#edit-custom-field {
  padding: 10px;
  width: 473px;
}

#edit-custom-field-category {
  width: 493px;
}

#edit-custom-field-category .inner {
  padding: 10px 10px 61px 10px;
}

/* ___ form action ___ */

#fancybox-inner .popup-actions {
/*  position: absolute;
  left: 0px;
  bottom: 0px;
*/
  height: 61px;
  width: 100%;
  background: #8b8d9a;
}

#fancybox-inner .popup-actions p {
  padding: 15px;
  margin: 0px;
  text-align: right;
}

/*#fancybox-inner .actions a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8em;
  position: relative;
  top: 4px;
}*/

