%ul.nav.navbar-nav.navbar-right#global-actions-bar
  %li
    = link_to '#', class: 'dropdowtoggle', data: {toggle: 'dropdown'} do
      = t('locomotive.shared.header.welcome', name: @current_locomotive_account.name)
      %span.caret
    %ul.dropdown-menu{role: 'menu'}
      - @list.each_with_index do |item, index|
        %li
          - i18n_options = item.delete(:i18n_options)
          - if i18n_options
            = link_to t(i18n_options[:key], i18n_options[:arg] => i18n_options[:value]), item[:url]
          - else
            = link_to item[:label], item[:url], item.delete_if { |k, v| %w(label url).include?(k) }
