.simple_form {
  fieldset .input.document_picker {
    .form-wrapper {

      padding: 0px $padding-base-horizontal;

      .row {

        .field, .button {
          height: 44px;
          line-height: 44px;
        }

        .field {
          padding-left: $form_input_control_border_size;

          input[type=text] {
            @include box-shadow(none);
            padding-left: $padding-base-horizontal - $form_input_control_border_size;
          }
        }

        .select2-container {
          background: transparent;
          border: none;
          border-radius: 0px;

          left: -$form_input_control_border_size - 1px;
          padding-right: $form_input_control_border_size * 2;
          padding-left: $form_input_control_border_size * 2;
          padding-bottom: $select2-vertical-padding + 4px;
        }

      }

    }
  }
}
