.simple_form {

  .bootstrap-tagsinput {
    border: none;
    box-shadow: none;

    line-height: 22px;
    padding: 10px 12px;

    input {
      padding-left: 8px;
      padding-right: 8px;
      min-width: 70px;
    }
  }

}
