

/ = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
/   %p 
/     = f.label :email
/   %p 
/     = f.text_field :email
/   
/   %p 
/     = f.label :password
/   %p 
/     = f.password_field :password
/ 
/   - if devise_mapping.rememberable?
/     %p 
/       = f.check_box :remember_me
/       = f.label :remember_me
/ 
/   %p 
/     = f.submit "Sign in"
/ 
/ = link_to "Forgot your password?", new_password_path(resource_name)