{% extends parent %}

{% block content %}

  <section id="contact">

    <h2 class="contact">{{ page.title }}</h2>

    <p class="error">We were unable to record your message.</p>

  </section>

{% endblock %}