{% extends parent %}

{% block content %}

  <section id="contact">

    <h2 class="contact">{{ page.title }}</h2>

    <p class="success">Dear <b>{{ message.name }}</b>, Thank you ! <br/>We'll get back to you as soon as possible.</p>

  </section>

{% endblock %}