{% extends parent %}

{% block content %}
  <section id="about">

    <h2 class="about">{{ page.title }}</h2>
    {% editable_long_text 'about', hint: "Some text about my website" %}
    <p>Now this is a story all about how my life got twisted upside down and I'd like to take a minute just sit right there I'll tell you how I became the prince of a town called Bel-Air. In West Philadelphia born and raised on the playground my momma said most of my days chilling out, maxing and relaxing all cool and all shooting some b-ball outside of school when a couple of guys they were up to no good started making trouble in our neighbourhood I got in one little fight and my mom got scared, she said your moving in with your auntie and uncle in Bel-Air</p>
    {% endeditable_long_text %}

  </section>
{% endblock %}