@import "locomotive/shared/helpers";

.CodeMirror {
  @include default-input-style;

  margin-top: 13px;

  font-size: 13px;
  font-weight: normal;
  line-height: 15px;

  @include background-image(linear-gradient(top, #f0f0f0, #f9f9f9 4px, #f9f9f9 4px, #ffffff 12px, #ffffff));

  .medium {
    height: 250px !important;
  }
}