// =============================================================================
// Containers
// =============================================================================

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: left $base-transition-speed linear;
}

.content-main {
  position: fixed;
  top: 52px;
  right: 0;
  bottom: 0;
  left: 300px;
  transition: left $base-transition-speed linear, right $base-transition-speed linear;
}

.content-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 110;
  max-width: 0;
  overflow: hidden;
  background: rgba($black, .4);
  opacity: 0;
  transition: opacity $base-transition-speed linear;
}

.preview {
  position: absolute;
  top: 0;
  right: 560px;
  bottom: 0;
  left: 0;
  z-index: 90;
}

.drawer {
  position: fixed;
  top: 52px;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  &.small-width-drawer {
    width: 560px;
  }
  > .inner {
    height: 100%;
  }
}

.scrollable {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  > .main {
    height: 100%;
  }
}

.sidebar-closed {
  .sidebar {
    left: -300px;
  }
  .navigation-app {
    left: 0;
    .navigation-trigger {
      .fa-bars {
        margin-right: 5px;
        margin-left: 0;
      }
      .fa-caret-right {
        display: inline-block;
      }
      .fa-caret-left {
        display: none;
      }
    }
  }
  .content-main {
    left: 0;
  }
}

.sidebar-open {
  .sidebar {
    left: 0;
  }
  .content-main {
    left: 300px;
  }
  .navigation-app {
    left: 300px;
  }
  .content-overlay {
    max-width: 100%;
    opacity: 1;
    display: none;
  }
  &.live-editing {
    .content-main {
      right: -300px;
      overflow: hidden;
    }
    .content-overlay {
      display: block;
    }
  }
}

@media (max-width: $screen-md-min) {
  .content-main {
    left: 0;
  }
  .sidebar-open {
    .content-main {
      right: -300px;
      left: 300px;
      overflow: hidden;
    }
    .navigation-app {
      right: -300px;
      left: 300px;
      overflow: hidden;
    }
    .content-overlay {
      max-width: 100%;
      opacity: 1;
      display: block;
    }
  }
}
