// =============================================================================
// Mixins
// =============================================================================

@import "bootstrap/mixins";

@mixin control-window-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 991;
  width: $control_window_button_size;
  height: $control_window_button_size;
  font-size: 15px;
  line-height: $control_window_button_size;
  color: $control_window_button_color;
  text-align: center;
  cursor: pointer;
  background: $control_window_background_color;
}
