.theme_img_size {
  width: inherit;
  height: inherit;
}
.mrgn_lft_15{
  margin-left: 15px;
}
.padding_rgt_35{
  padding-right: 35%;
}
.padding_lft_10{
  padding-left: 10%;
}
.mrgn_top_2{
  margin-top: 2px;
}