#rap-overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 2;
  cursor: pointer;
}
.rap-manager,
.rap-target-container {
  display: inline-block;
  height: 100%;
  position: relative;
}
.rap-popover-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: auto;
  display: inline-block;
  background: white;
}
.rap-left {
  left: -20px !important;
}
.rap-bottom {
  top: 15px !important;
}
.rap-top {
  top: -15px !important;
}
.rap-right {
  left: 20px !important;
}

.rap-popover-content {
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 2px 4px rgba(16, 22, 26, 0.2), 0 8px 24px rgba(16, 22, 26, 0.2); }

.rap-popover-pad {
  padding: 10px;
  width: 200px; }

.rap-popover-button-wrapper button {
  background: none;
  border: none; }

.editor-input-image-picker-src {
  max-width: 100%;
  max-height: 100px; }

.editor-image-picker {
  height: 100%; }

.editor-image-uploader {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 6rem; }
  .editor-image-uploader input[type=file] {
    display: none; }

.editor-image-pagination {
  height: 5rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .editor-image-pagination .pagination {
    margin: 0 auto; }

.editor-image-list {
  height: calc(100% - 114px - 5rem); }

.editor-image-inner-list {
  overflow-y: scroll;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: flex-start; }

.editor-image {
  margin: 1rem; }
  .editor-image .editor-image-inner {
    position: relative;
    background: #ccc;
    width: 136px;
    height: 136px;
    transition: all 0.2s ease;
    cursor: pointer; }
    .editor-image .editor-image-inner:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: all 0.2s ease; }
  .editor-image.active .editor-image-inner {
    transform: scale(0.9); }
    .editor-image.active .editor-image-inner:before {
      box-shadow: inset 0 0 0 5px #1D77C3; }
  .editor-image img {
    display: block;
    height: 100%;
    width: 100%; }

#editor-app .container-fluid {
  height: 100%; }

