// =============================================================================
// Variables
// =============================================================================

// Colors

$white: #fff;
$brand-primary: #54b9cd;
$brand-success: #54cc68;
$brand-warning: #f0ad4e;
$brand-danger: #d9684c;

// Fonts

$font-family-sans-serif: "Noto Sans", sans-serif;
$font-family-sans-serif-brand: "Muli", sans-serif;

@import "bootstrap/variables";
