@import "../globals/variables";
@import "../globals/mixins";

html {
  background-color: $background_gradient_end;
}

body,
html {
  height: 100%;
}

body {
  @include locomotive_gradient;
  padding-bottom: 20px;
}

.wrapper {
  height: 100%;
  .main {
    @include full-space();
    @include make-row();
    right: $grid-gutter-width;
    left: $grid-gutter-width;
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
}
