body.live-editing {

  .preview {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: $live_editing_content_width;
  }

  .content {
    left: auto;
    right: 0px;
    width: $live_editing_content_width;

    .inner {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
    }
  }

  &.sidebar-closed .content {
    left: auto;
  }

}
