body {
  overflow: hidden;
}

.wrapper {
  position: relative;
}

body.without-site {

  .sidebar {
    left: -$sidebar_width;
  }

}

.sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: $sidebar_width;
}

.content {
  position: absolute;
  top: 0px;
  left: $sidebar_width;
  right: 0px;
  bottom: 0px;
}

.drawer {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 990;

  &.small-width-drawer {
    width: $drawer_width;
  }

  > .inner {
    height: 100%;
  }
}

.scrollable {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: auto;

  > .main {
    height: 100%;
  }
}
