.wrapper {
  @extend .container-fluid;
}

.main {
  @include make-row();
}

.sidebar {
  @include make-sm-column(3);
  padding: 0px;
}

.submenu {
  @include make-sm-column(3);
}

.content {
  @include make-sm-column(6);
}

.navbar-brand {
  padding-left: 18px + $navbar-padding-horizontal;
  background: transparent url(image_path('locomotive/mini_logo.png')) $navbar-padding-horizontal floor($navbar-height/2) no-repeat;
  font-size: $font-size-base;
}
