.content {
  position: fixed;
  top: 52px;
  right: 0;
  bottom: 0;
  left: 300px;
}

.drawer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 990;
  width: 100%;

  &.small-width-drawer {
    width: $drawer_width;
  }

  > .inner {
    height: 100%;
  }
}

.scrollable {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;

  > .main {
    height: 100%;
  }
}
