@import "../globals/all";

html {
  background-color: $background_gradient_end;
}

body, html {
  height: 100%;
}

body {
  @include locomotive_gradient;
  padding-bottom: 20px;
}

.wrapper {
  height: 100%;

  .main {
    @include full-space();
    left: $grid-gutter-width;
    right: $grid-gutter-width;
    @include make-row();

    .content {
      height: 100%;
      @include display-flex;
      @include flex-direction(column);
      @include flex-align(center);
      @include flex-justify-content(center);
    }
  }

}