= f.input :"formatted_#{name}",
  label:        custom_field_label(field),
  hint:         field.hint,
  wrapper_html: { class: ['date', translatable_status(field)].compact.join(' ') },
  input_html:   { maxlength: 10 }
