= f.input :"formatted_#{name}",
  label:        label_for_custom_field(f.object, field),
  hint:         field.hint,
  append:       icon_tag('fa-clock-o'),
  wrapper_html: { class: 'date-time' },
  input_html:   { data: { format: datetime_moment_format }, maxlength: 10 }
