= f.input name,
  label:        label_for_custom_field(f.object, field),
  hint:         field.hint,
  as:           :number,
  step:         0.1,
  wrapper_html: { class: "#{'highlighted' if highlighted}" }