= f.input name,
  label:        custom_field_label(field),
  hint:         field.hint,
  wrapper_html: { class: ['tags', ('highlighted' if highlighted), translatable_status(field)].compact.join(' ') }