$sign_in_legend_color: #a2e4f1;

body.sessions, body.registrations {
  .content {
    @include make-sm-column-offset(3);
    @include make-sm-column(6);

    @include make-md-column-offset(4);
    @include make-md-column(4);
  }

  h1 {
    small {
      display: block;
      width: 100%;
      text-align: center;
      text-transform: lowercase;
      color: $sign_in_legend_color;
      font-size: $font-size-base;
      font-weight: 200;
      margin-top: 10px;
    }
  }
}
