%script{ :type => 'text/html', :id => 'editable_theme_asset_item' }

  %strong= link_to "{{local_path}}", edit_theme_asset_path('asset_id').gsub(/\/asset_id\//, '/{{id}}/')
  .more
    %span.size {{size}}
    %span!= t('.updated_at')
    %span.date {{updated_at}}

    {{#if can_be_deleted}}
    = link_to 'x', '#', :class => 'remove', :data => { :confirm => t('locomotive.messages.confirm') }
    {{/if}}