.editor-image-uploader {

  input[type=file] {
    display: none;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 3 - 0.5rem);
  background: $white;

  border: dashed 1px #e3e4e7;
  border-radius: 3px;

  margin-bottom: 0.5rem;
  padding: 1rem 1.2rem;


  &--button {
    text-transform: uppercase;
    cursor: pointer;
  }

  &--uploading {

  }
}

.editor-image-list {
  margin: 2rem;

  &--loading {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
  }

  &--pagination {
    display: flex;
    align-items: center;
    margin-top: 2rem;

    .pagination {
      margin: 0 auto;
    }
  }

}

.editor-image {
  margin-bottom: 0.5rem;
  width: calc(100% / 3 - 0.5rem);

  &--inner {
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease;
    cursor: pointer;
    min-height: 12rem;
    background: $gray-lighter;

    img {
      display: block;
      border: none;
      max-width: 100%;
      height: auto;
      background: $gray-lighter;
    }
  }

  &--inner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.2s ease;
  }

  &.active .editor-image--inner {
    transform: scale(0.9);

    &:before {
      box-shadow: inset 0 0 0 5px $brand-primary;
    }
  }

}

.editor-image-cropper {
  padding-bottom: 2rem;

  &-tool {
    max-height: 75rem;
  }

  &-preview {
    display: none;
  }

  &-action {
    margin-top: 1rem;
    text-align: right;

    i {
      margin-right: 0.8rem;
    }
  }
}

@media (max-height: 900px) {

  .editor-image-cropper-tool {
    max-height: 55rem;
  }

}

@media (max-height: 700px) {

  .editor-image-cropper-tool {
    max-height: 42rem;
  }

}

@media (max-height: 500px) {

  .editor-image-cropper-tool {
    max-height: 30rem;
  }

}

