.locale-switcher {
  position: relative;
  display: inline-block;
  margin-top: 0.2rem;

  &-button {
    color: #adb1b7;
    transition: opacity 100ms linear;
    text-transform: uppercase;
    user-select: none;

    &:hover {
      color: #fff;
      transition: opacity 100ms linear;
      text-decoration: none;
    }
  }

  &-content {
    margin-top: 0.6rem;
    width: 10rem;
    z-index: 999 !important;

    > span {
      z-index: 1000;
    }
  }
  .rap-popper-div {
    z-index: 999 !important;
    transform: translate3d(0px, 25px, 0px) !important;
  }

  &-locales {
    position: relative;
    z-index: 100;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
  }

  &-locale {

    a {
      display: block;
      padding: 1rem 2rem;
      font-size: 1.2rem;
      color: #6a707a;
      white-space: nowrap;
      transition: all 0.1s linear;
      cursor: pointer;
      user-select: none;

      strong {
        text-transform: uppercase;
      }

      &:hover {
        background: #e3e4e7;
        color: #5f646c;
        text-decoration: none;
      }
    }
  }
}
