.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;

  &.modal-open {
    opacity: 1;
    pointer-events: auto;
  }

  & > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0rem 2rem;
    background: #ffffff;
    color: #333333;
    border-radius: 3px;
  }

  &-header {
    font-size: 2.1rem;
    color: #666;
    margin: 1rem 0;
  }

  h1 {
    font-size: 150%;
    margin: 0 0 15px;
    color: #333333;
  }
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0rem;
  width: 70px;
  padding-right: 2rem;
  line-height: 50px;
  text-align: right;
  text-decoration: none;
  font-size: 2rem;
  color: #aaa;
  cursor: pointer;

  &:hover {
    color: #000;
  }
}

