.rap-popover-pad {
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 2px 4px rgba(16, 22, 26, 0.2),
    0 8px 24px rgba(16, 22, 26, 0.2);
  box-sizing: border-box;
  border-radius: 3px;
  height: auto;
  display: inline-block;
  background: #fff;
}

.rap-popover-pad {
  padding: 10px;
  width: 20rem;
}

.rap-popover-button-wrapper button {
  background: none;
  border: none;
}
