%h1
  = link_to current_site.name, admin_pages_url, :class => 'single'

= render_cell 'admin/global_actions', :show, :current_admin => current_admin, :current_site_url => current_site_url

- if multi_sites? && current_admin.sites.size > 1
  #sites-picker{ :style => 'display: none' }
    %ul
      - current_admin.sites.each do |site|
        - unless current_site._id == site._id
          %li
            = link_to site.name, new_admin_cross_domain_session_url(:target_id => site._id)

    - if can?(:manage, Site)
      %p.action
        = link_to t('admin.sites_picker.new'), new_admin_site_url