[data-notify="container"] {
  border: none;

  [data-notify="icon"] {
    font-size: 18px;
    margin-right: 9px;
  }

  [data-notify="message"] {
  }
}

[data-notify="container"].alert-success, [data-notify="container"].alert-error {
   [data-notify="icon"], [data-notify="message"] {
    color: #fff;
  }
}

[data-notify="container"].alert-success {
  background-color: $brand-success;
}

[data-notify="container"].alert-danger {
  background-color: $brand-danger;
}
